<section class="auth-section">
  <form [formGroup]="registerForm" class="form-container">
    <header class="form-container__header">
      <h1 class="form-container__title">Crie sua conta</h1>
      <hr class="form__separator--header" />
      <span>Digite as informações necessárias para o seu cadastro</span>
    </header>

    <div class="form-container__body">
      <img class="form__img" src="images/register/register_vector.webp" alt="">
      <div
        class="form-container__form"
      >
       @for(config of formConfig; track $index){
        <app-form-field-input [formControlName]="config.formControlName" [config]="config"></app-form-field-input>
       }
      </div>
    </div>
    <footer class="form-container__footer">
      <div class="footer__buttons">
        <button
          type="submit"
          class="button form__button--submit"
          (click)="onSubmit()"
        >
          CRIAR
        </button>
      </div>
      <hr class="form__separator--footer">
      <p class="footer__link">
        Já possui uma conta? 
        <a routerLink="/login" class="footer__link--anchor">Clique aqui para entrar</a>
      </p>
    </footer>
  </form>
</section>
