@import '@shared/styles/form.style.css';
@import '@features/cidadao/styles/auth-form.style.css';

.form-container{
  width: 750px;
}

.form-container__body{
  flex-direction: row;
}

.form__form{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: var(--space-4);
}

.register__content{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.form__img{
  width: 250px;
  height: 350px;
  object-fit: cover;
}

.form__button--submit{
  width: 250px;
}

.form-container__footer{
  gap: var(--space-4);
}