<section class="auth-section">
  <div class="form-container">
    <header class="form-container__header">
      <h1 class="form-container__title">Crie sua conta</h1>
      <hr class="form__separator--header" />
      <span>Digite as informações necessárias para o seu cadastro</span>
    </header>

    <div class="form-container__body">
      <img class="form__img" src="images/register/register_vector.webp" alt="">
      <form
        [formGroup]="cadastroForm"
        (ngSubmit)="onSubmit()"
        class="form__form"
      >
        <!-- Nome -->
        <div class="field">
          <label for="nome" class="field__label">Nome</label>
          <input
            id="nome"
            type="text"
            formControlName="nome"
            class="field__input"
            placeholder="Digite seu nome"
          />
        </div>

        <!-- Email -->
        <div class="field">
          <label for="email" class="field__label">Email</label>
          <input
            id="email"
            type="email"
            formControlName="email"
            class="field__input"
            placeholder="Digite seu email"
          />
        </div>

        <!-- Senha -->
        <div class="field">
          <label for="telefone" class="field__label">Senha</label>
          <input
            id="senha"
            type="password"
            formControlName="senha"
            class="field__input"
            placeholder="Digite uma senha segura"
          />
        </div>

        <!-- Confirmação de senha -->
        <div class="field">
          <label for="senha" class="field__label">Confirme sua senha</label>
          <input
            id="confirmacao_senha"
            type="password"
            formControlName="confirmacao_senha"
            class="field__input"
            placeholder="Confirme a senha"
          />
        </div>
      </form>
    </div>
    <footer class="form-container__footer">
      <div class="footer__buttons">
        <button
          type="submit"
          form="cadastroForm"
          class="button form__button--submit"
        >
          CRIAR
        </button>
      </div>
      <hr class="form__separator--footer">
      <p class="footer__link">
        Já possui uma conta? 
        <a routerLink="/cidadao/login" class="footer__link--anchor">Clique aqui para entrar</a>
      </p>
    </footer>
  </div>
</section>
