.form-step__body {
  width: 650px;
  gap: var(--space-3);
}

.field__input--description {
  resize: none;
  height: 80px;
  border: 1px solid var(--background-dark-color);
  border-radius: 4px;
  padding: var(--space-3) var(--space-2);
  font-size: var(--sm-text);
  box-shadow: var(--input-shadow);
}

.form__images {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(140px, 1fr));
  gap: var(--space-2);
  width: 100%;
  justify-items: center;
}


.form__image {
  width: 140px;
  height: 140px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #f3f3f3;
  border-radius: 4px;
  overflow: hidden;
}

.form__image img {
  width: 100%;
  height: 100%;
  object-fit: cover; 
  border-radius: 4px; 
}