
.dashboard{
  align-items: start;
  height: 100%;
}

.content {
  flex: 1;
  min-height: 100%;
  height: 100%;
  padding: var(--space-4);
}

.sidebar {
  min-height: 100%;
  height: 100%;
  width: 300px;
  gap: var(--space-6);
  background: var(--background-image);
  padding: var(--space-8) var(--space-6);
  box-shadow: 0 4px 24px rgba(0, 0, 0, 0.12);
}

.sidebar__header {
  margin-bottom: var(--space-4);
}

.sidebar__body {
  width: 100%;
  gap: var(--space-6);
}

.sidebar__footer {
}

.sidebar__cityhall-name {
  font-size: var(--h4);
  font-weight: 600;
  color: var(--white-font-color);
  margin-bottom: var(--space-2);
  letter-spacing: 1px;
}

.sidebar__logo {
  width: 150px;
  height: 150px;
  object-fit: contain;
}

.sidebar__nav {
  width: 100%;
  list-style: none;
  align-items: start;
  margin-bottom: var(--space-4);
}

.sidebar__link-group {
  align-items: start;
  width: 100%;
  gap: var(--space-2);
}

.sidebar__link-group-title {
  text-align: start;
  font-size: var(--md-text);
  width: 100%;
  font-weight: 500;
  color: var(--white-font-color);
  padding: var(--space-1) var(--space-2);
  margin-bottom: var(--space-2);
  background: rgba(255, 255, 255, 0.04);
  border-radius: 8px;
  transition: 0.4s all ease;
  position: relative;
  box-sizing: border-box;
}

.sidebar__link-group-title::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 0;
  background: var(--background-color);
  border-radius: 8px 0 0 8px;
  transition: width 0.4s;
}

.sidebar__link-group-title--active {
  background: rgba(255, 255, 255, 0.08);
  font-weight: 700;
  padding: var(--space-2) 0 var(--space-2) var(--space-6);
  color: var(--white-font-color);
}

.sidebar__link-group-title--active::before {
  width: 12px;
}

.sidebar__link {
  width: 100%;
  box-sizing: border-box;
  border-radius: 8px;
  margin-bottom: var(--space-1);
  text-align: start;
  cursor: pointer;
  display: flex;
  align-items: center;
  text-decoration: none;
  color: var(--white-font-color);
  font-size: var(--sm-text);
  padding: var(--space-2) var(--space-3);
  border-radius: 8px;
  transition: 0.6s all ease-out;
}

.sidebar__link:hover {
  background: var(--background-color);
  color: var(--black-font-color);
  opacity: 0.7;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.08);
  transform: translateX(6px);
}

.sidebar__link--active {
  box-sizing: border-box;
  background-color: var(--background-color);
  color: var(--black-font-color) !important;
  padding-left: var(--space-3);
  transform: translateX(6px);
}
