<section class="dashboard flex-row">
  <aside class="sidebar flex-column">
    <header class="sidebar__header flex-column">
      <h2 class="sidebar__cityhall-name">Prefeitura de Votorantim</h2>
      <img class="sidebar__logo" src="wireframe/logo.jpg" alt="" />
    </header>
    <div class="sidebar__body flex-column">
      <nav class="sidebar__links flex-column">
        @for (item of menu; track item.category) {
        <div class="sidebar__link-group flex-column">
          <h3 class="sidebar__link-group-title">{{ item.category }}</h3>
          @for (link of item.links; track link) {
          <li class="sidebar__link">
            <a href="#" class="">
              {{ link }}
            </a>
          </li>
          }
        </div>
        }
      </nav>
    </div>
    <footer class="sidebar__footer flex-column">
      <span class="sidebar__login-info">Entrou como</span>
      <button class="button button--primary">Sair</button>
    </footer>
  </aside>
  <div class="content flex-row">
    <span>AQUI TERÁ O CONTEÚDO</span>
  </div>
</section>
