.complaint-detail{
    background-color: var(--background-color);
    border: 1px solid var(--background-dark-color);
    gap: var(--space-3);
    padding: var(--space-12) var(--space-6);
    box-shadow: var(--button-shadow);
    width: 850px;
}

.complaint-detail__header{
    gap: var(--space-6);
}

.complaint-detail__header h2{
    font-size: var(--h3);
    font-weight: 400;
}

.categories-container{
    gap: var(--space-6);
    padding: var(--space-5) 0;
    flex-wrap: wrap;
}

.categories-container__categorie{
    gap: var(--space-5);
    padding: 0 var(--space-4);
    width: 275px;
    height: 50px;
    border: 1px solid var(--primary-color);
}

.categories-container__categorie span{
    flex: 1;
    color: var(--primary-color);
    font-size: var(--md-text);
}

.complaint-detail__body{
   width: 100%;
   gap: var(--space-4);
}

.complaint-detail__body-header{
    width: 100%;
    align-items: start;
}

.complaint-detail__body-header span{
    font-size: var(--sm-text);
}

.complaint-detail__content{
    gap: var(--space-6);
    align-items: start;
}

.complaint-detail__content-description{
    width: 100%;
    text-align: start;
    justify-content: start;
    color: var(--white-font-color);
    background-color: var(--primary-color);
    border: 2px solid var(--secondary-dark-color);
    padding: var(--space-6);
    margin: var(--space-8) 0;
    font-size: var(--md-text);
    line-height: 1.5;
    letter-spacing: 1.5px;
}

.complaint-detail__content-gallery {
  flex-wrap: wrap;
  justify-content: start;
  gap: var(--space-2); 
}

.complaint-detail__content-gallery-image {
  flex: 0 0 calc(33.333% - 10px);
  box-sizing: border-box;
  width: 100%;
  height: 200px;
}

.complaint-detail__content-gallery-image img {
  width: 100%;
  height: 100%;
  object-fit: cover; 
  border-radius: 4px; 
}