<section class="banner flex-column">
    <h1 class="banner__title">SaneaSP - Melhorando seu Saneamento básico e seu bem-estar</h1>
    <div class="banner__text">
        <p> 
            Trabalhando juntos para garantir agilidade, apoio e soluções de saneamento básico para todo o Estado de São Paulo
        </p>
    </div> 
    <div class="banner__buttons flex-row">
        <div class="banner__button banner__button--citizen flex-column" routerLink="/cidadao/login">
            <img class="large-icon" src="icons/entities/white/citizen.svg" 
                [src]="getButtonIcon('citizen')"
                alt="">
            <p>Para Cidadãos</p>
        </div>
        <div class="banner__button banner__button--organization flex-column">
            <img class="large-icon"src="icons/entities/white/organization.svg" 
                [src]="getButtonIcon('organization')"
                alt="">
            <p>Para Organizações</p>
        </div>
    </div>
</section>