.btn-close {
    background-color: white;
    transition: 0.5s opacity ease;
}

.btn-close:hover {
    opacity: 0.3;
}

/* Sobrescrita do estilo do bootstrap */
.btn:focus-visible {
    outline: var(--outline-tab-secundario) !important;
}

.search-feedback-container img{
    width: 20px;
    height: 20px;
}