<div
  class="modal fade"
  id="modalTag"
  tabindex="-1"
  aria-labelledby="modalTag"
  #modalTag
>
  <div class="modal-dialog">
    <div class="modal-content">
      <form [formGroup]="FormGroupSelected">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="modalTagLabel">
            {{ ModalInfo.title }}
          </h1>
          <button
            type="button"
            class="btn-close focus-terciario"
            data-bs-dismiss="modal"
            aria-label="Close"
          ></button>
        </div>
        <div class="modal-body">
          <div>
            @if (modalTypeSelected == modalTypes.Adicao) {
            <app-form-field
              #formField
              [formGroup]="formCadastroTag"
              formName="form-cadastro-tag"
              controlName="nomeNovaTag"
              icon="assets/icones/black/tag_icon.svg"
              label="Nome da Tag:"
              placeholder="Digite o nome da tag"
              [required]="true"
              fieldType="input"
              [validators]="[
                formValidatorsEnum.Required,
                formValidatorsEnum.MinLength
              ]"
            ></app-form-field>
            } 
            @else if (modalTypeSelected == modalTypes.Exclusao ||
            modalTypeSelected == modalTypes.Edicao) 
            {
              <app-form-field
                [formGroup]="formPesquisaTag"
                formName="form-edit-tag"
                controlName="nomePesquisaTag"
                icon="assets/icones/black/tag_icon.svg"
                label="Nome da Tag:"
                placeholder="Digite o nome da tag"
                fieldType="input"
                (input)="onInputTag()"
                [required]="true"
                [validators]="[formValidatorsEnum.Required]"
              ></app-form-field>

            <!-- Compartilha a subscription para não precisar ficar recriando -->
            <ng-container *ngIf="tagList$ | async as tags">
              @if(tagFound){
                <div class="d-flex justify-content-center align-items-center mt-2" id="remover-tag-selecionada">
                  <img src="assets/icones/black/info_icon.svg" alt="ícone de informação">
                  <span>Clique no campo para remover a seleção</span>
                </div>
              }

              @if(tagFound == undefined && tags?.length <= 1 && this.formPesquisaTag.controls.nomePesquisaTag.value.length > 0){
                <div class="search-feedback-container d-flex w-100 text-center justify-content-center mt-2">
                  <img src="{{
                    tags.length == 1 
                    ? 'assets/icones/operacoes/black/icon_success.svg' 
                    : 'assets/icones/operacoes/black/icon_error.svg'}}" alt="" 
                  />
                  <span>
                    {{
                      tags.length == 1 
                      ? 'Tag encontrada: clique para começar a editar' 
                      : 'Nenhuma tag encontrada!'
                    }}
                  </span>
                </div>
              }

              <!-- Lista de tags disponíveis para seleção -->
              @if(tags?.length > 0 && tagFound == undefined){
                <hr/>
                <span>Tags Sugeridas: (mostrando {{tags.length}} de {{tagCount$ | async}})</span>
                
                <button class="btn btn-primary ms-2" (click)="expandSearchList()">
                  {{!isExpandedTagList ? "Expandir" : "Recolher"}}
                </button>
                <!-- Lista de tags encontradas com o filtro -->
                <ul class="list-group tag-list m-2">
                  @for (tagPesquisa of tags; track $index) {
                  <li
                    (click)="selectTagFromList(tagPesquisa.nome)"
                    class="list-group-item"
                  >
                    {{ tagPesquisa.nome }}
                  </li>
                  }
                </ul>
              } 
              <!-- Para quando não houver nenhuma tag cadastrada na tabela -->
              @else if (tags.length == 0 && tagFound == undefined && this.formPesquisaTag.controls.nomePesquisaTag.value.length == 0) {
                <hr>
                <div class="d-flex justify-content-center align-items-center text-center">
                  <span>Nenhuma tag criada. Para começar a pesquisar, cadastre uma tag</span>
                </div>
              }
            </ng-container>
              @if(tagFound && FormGroupSelected == formEditTag){
                <hr>
                <app-form-field
                [formGroup]="formEditTag"
                formName="form-edit-tag"
                controlName="nomeEditTag"
                icon="assets/icones/black/tag_icon.svg"
                label="Novo nome da Tag:"
                placeholder="Digite o novo nome da tag"
                fieldType="input"
                [required]="true"
                [validators]="[formValidatorsEnum.Required, formValidatorsEnum.MinLength]"
              ></app-form-field>
              }
            }
          </div>
        </div>
        <div class="modal-footer">
          <button
            type="button"
            class="btn btn-secondary focus-secundario"
            data-bs-dismiss="modal"
          >
            Cancelar
          </button>
          <button
            type="submit"
            (click)="onSubmit()"
            class="btn btn-primary focus-secundario"
          >
            {{ ModalInfo.buttonText }}
          </button>
        </div>
      </form>
    </div>
  </div>
</div>

<app-toast></app-toast>

<!-- Botões para abrir e fechar o modal via código -->
<button
  class="d-none"
  [attr.data-bs-target]="'#modalTag'"
  [attr.data-bs-toggle]="'modal'"
  #botaoChamarModal
></button>

<button
  class="d-none"
  [attr.data-bs-target]="'#modalTag'"
  [attr.data-bs-toggle]="'modal'"
  #botaoFecharModal
></button>
