<div
  class="modal fade"
  id="modalTag"
  tabindex="-1"
  aria-labelledby="modalTag"
  #modalTag
>
  <div class="modal-dialog">
    <div class="modal-content">
      <form [formGroup]="FormGroupSelected">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="modalTagLabel">
            {{ ModalInfo.title }}
          </h1>
          <button
            type="button"
            class="btn-close focus-terciario"
            data-bs-dismiss="modal"
            aria-label="Close"
          ></button>
        </div>
        <div class="modal-body">
          <div>
            @if (modalTypeSelected == modalTypes.Adicao) {
            <app-form-field
              #formField
              [formGroup]="formCadastroTag"
              formName="form-cadastro-tag"
              controlName="nomeNovaTag"
              icon="assets/formularios/tag_icon.svg"
              label="Nome da Tag:"
              placeholder="Digite o nome da tag"
              [required]="true"
              fieldType="input"
              [validators]="[
                formValidatorsEnum.Required,
                formValidatorsEnum.MinLength
              ]"
            ></app-form-field>
            } 
            @else if (modalTypeSelected == modalTypes.Exclusao ||
            modalTypeSelected == modalTypes.Edicao) 
            {
              <app-form-field
                [formGroup]="formPesquisaTag"
                formName="form-edit-tag"
                controlName="nomePesquisaTag"
                icon="assets/formularios/tag_icon.svg"
                label="Nome da Tag:"
                placeholder="Digite o nome da tag"
                fieldType="input"
                (input)="onInputTag()"
                [required]="true"
                [validators]="[formValidatorsEnum.Required]"
              ></app-form-field>

              @if(tagFound != undefined 
                || (tagFound == undefined 
                && tagList.length == 0 
                && this.formPesquisaTag.controls.nomePesquisaTag.value.length > 0))
              {
                <div class="d-flex w-100 text-center justify-content-center mt-2">
                  <img src="{{ searchFeedback.imagePath }}" alt="" />
                  <span>{{ searchFeedback.message }} </span>
                </div>
              } 
              @if(tagList.length > 0 && tagFound == undefined){
                <hr />
                <span>Tags Sugeridas:</span>
                <ul class="list-group tag-list m-2">
                  @for (tagPesquisa of tagList; track $index) {
                  <li
                    (click)="selectTagFromList(tagPesquisa.nome)"
                    class="list-group-item"
                  >
                    {{ tagPesquisa.nome }}
                  </li>
                  }
                </ul>
              } 

              @if(tagFound){
                <hr>
                <app-form-field
                [formGroup]="formEditTag"
                formName="form-edit-tag"
                controlName="nomeEditTag"
                icon="assets/formularios/tag_icon.svg"
                label="Novo nome da Tag:"
                placeholder="Digite o novo nome da tag"
                fieldType="input"
                [required]="true"
                [validators]="[formValidatorsEnum.Required, formValidatorsEnum.MinLength]"
              ></app-form-field>
              }
            }
          </div>
        </div>
        <div class="modal-footer">
          <button
            type="button"
            class="btn btn-secondary focus-secundario"
            data-bs-dismiss="modal"
          >
            Cancelar
          </button>
          <button
            type="submit"
            (click)="onSubmit()"
            class="btn btn-primary focus-secundario"
          >
            {{ ModalInfo.buttonText }}
          </button>
        </div>
      </form>
    </div>
  </div>
</div>

<app-toast></app-toast>

<button
  class="d-none"
  [attr.data-bs-target]="'#modalTag'"
  [attr.data-bs-toggle]="'modal'"
  #botaoChamarModal
></button>

<button
  class="d-none"
  [attr.data-bs-target]="'#modalTag'"
  [attr.data-bs-toggle]="'modal'"
  #botaoFecharModal
></button>
