.btn-close {
    background-color: white;
    transition: 0.5s opacity ease;
}

.btn-close:hover {
    opacity: 0.3;
}

#botao-voltar-header{
    width: 40px;
    height: 25px;
    padding: 0px;
}

#botao-voltar-header img{
    width: 15px;
    height: 15px;
}

.texto-informativo{
    font-size: 14px;
    opacity: 0.85;
}

/* Sobrescrita do estilo do bootstrap */
.btn:focus-visible {
    outline: var(--outline-tab-secundario) !important;
}

.search-feedback-container img{
    width: 20px;
    height: 20px;
}