<div class="col-md-12 col-sm-12 mb-3">
  <img class="form-icon me-1" src="images/denuncia/image-icon.svg" />
  <label for="confirma-senha-login" for="image" class="form-label">Imagem:</label>
  <input type="file" multiple class="form-control" id="image"(change)="addImageList($event)"/>
</div>

<!-- <div class="col-md-12 col-sm-12 mb-3">
  <div class="preview d-flex flex-column align-items-center">
    <label for="imgPreview" class="form-label">Pré-visualização</label>
    <img class="preview-img img-fluid" [src]="src" id="imgPreview" *ngIf="src;" />
  </div>
</div> -->
