<nav class="nav-cidadao flex-row">
  @if(navbarLinks.length > 0){
  <div class="nav__links flex-row">
    @for (link of navbarLinks; track $index) {
      @if (canShowLink(link)){
        <a [routerLink]="link.path" routerLinkActive="nav__link--active"  class="nav__link">{{ link.text }}</a>
      }
    }
  </div>
  }

  <div class="nav__buttons flex-row">
    @if (authService.currentUser()) {
      <a [routerLink]="'/cidadao/profile'" class="button nav__profile">
        <img class="small-icon" src="icons/entities/black/user.svg" alt="" />
        Sua conta
      </a>
    } @else{
      <a [routerLink]="'/cidadao/login'" class="button nav__login"> Entrar </a>
      <a [routerLink]="'/cidadao/register'" class="button nav__register">
        Crie uma conta
      </a>
    }
  </div>
</nav>
