<form [formGroup]="form" [ngClass]="'form-container'" (ngSubmit)="adicionarEvento()" class="form">
    <h2 class="form-container__title">Agendar Visita</h2>
    <div class="field-group">
        <label for="title" class="field__label">Título</label>
        <input
          class="field__input"
          type="text"
          formControlName="title"
          id="title"
          placeholder="Título do evento"
          required
        />
    </div>
    <div class="field-group" class="field__label">
        <label for="start">Início</label>
        <input
          class="field__input"
          type="date"
          formControlName="start"
          required
        />
    </div>
    <div class="field-group">
        <label for="finnaly" class="field__label">Final</label>
        <input
          class="field__input"
          type="date"
          id="finnaly"
          formControlName="finally"
          placeholder="Data final"
        />
    </div>
    <button class="form__button--submit" type="submit">Adicionar</button>
</form>