<div class="col-md-12 col-sm-12 mb-3">
  <img class="form-icon me-1" src="img/paginas/reclamacoes/tag-icon.svg" />
  <label for="tags" class="form-label">Tags:</label>
  <select
    [formControl]="select"
    class="form-control text-center"
    id="tags"
    placeholder="Procure uma Tag"
  >
    <!-- <option *ngFor="let item of list" [value]="item">{{item}}</option> -->
    <option [ngValue]="tagNull"  selected>Nenhum</option>
    @for (tag of formTags; track tag.id) {
      <option [ngValue]="tag">{{ tag.nome }}</option>
    }
  </select>
</div>

<div class="col-md-12 col-sm-12 pe-0 h-auto">
  <label class="form-label">Tags selecionadas:</label>
  <div class="tags-selected h-auto d-flex flex-column justify-content-around">
    @for (tag of tagSelected; track tag.id; let i = $index ) {

      <div class="d-flex flex-justify-content-around">
      </div>
      @if(i % 3 === 0){

      }
      <button (click)="RemoveTagSelect(tag)" class="tag my-auto">
        {{tag.nome}}
      </button>
    }
    @empty {
      <p class="tag m-auto">Nenhuma Tag selecionada</p>
    }
  </div>
</div>
