<div class="col-md-12 col-sm-12 mb-3">
  <img class="form-icon me-1" src="img/paginas/reclamacoes/tag-icon.svg" />
  <label for="tags" class="form-label">Tags:</label>
  <select
    [formControl]="select"
    class="form-control text-center"
    id="tags"
    placeholder="Procure uma Tag"
  >
    <!-- <option *ngFor="let item of list" [value]="item">{{item}}</option> -->
    <option  selected>Nenhum</option>
    @for (tag of formTags; track tag.id) {
    <option [ngValue]="tag">{{ tag.nome }}</option>
    }
  </select>
</div>

<div class="col-md-12 col-sm-12 pe-0">
  <label class="form-label">Tags selecionadas:</label>
  <div class="tags-selected d-flex justify-content-around">
    @for (tag of formSelects; track tag.id) {
      <button (click)="TirarTagSelect(tag)"  class="tag">
        {{tag.nome}}
      </button>
    }
  </div>
</div>
