<div class="background">
    <div class="container-fluid d-flex justify-content-center align-items-center flex-column">
        <div class="form d-flex justify-content-center align-items-center flex-column m-3 p-4 rounded w-50">
            <label for="id_noticia">Digite o ID da Notícia:</label>
            <input type="text" id="id_noticia" class="form-control" #idNoticia required>
            <button type="submit" class="btn btn-primary" (click)="pesquisarId()">Pesquisar Notícia</button>
            <div *ngIf="idEncontrado">
                <div class="d-flex justify-content-center align-items-center flex-column">
                    <label for="titulo_noticia" class="form-label">Título da Notícia:</label>
                    <p id="titulo_noticia" class="form-control"></p>
                </div>
                <div class="d-flex justify-content-center align-items-center flex-column ">
                    <label for="descricao_noticia" class="form-label">Descrição da Notícia:</label>
                    <textarea name="description" id="descricao_noticia" min_cols="5" min_rows="5" readonly
                        class="form-control"></textarea>
                </div>
                <div class="d-flex justify-content-center align-items-center flex-column">
                    <label for="imagem_noticia" class="form-label">Imagem da Noticia:</label>
                    <img id="imagem_noticia" src="" alt="" class="img-fluid form-control">
                </div>
                <div class="d-flex justify-content-center align-items-center flex-column">
                    <label for="tags_noticia" class="form-label">Tag's da Noticia:</label>
                    <p id="tags_noticia" class="form-control"></p>
                </div>
                <div class="d-flex justify-content-center align-items-center flex-column">
                    <label for="fonte_noticia" class="form-label">Fonte da Noticia:</label>
                    <p id="fonte_noticia" class="form-control"></p>
                </div>
                <div class="d-flex justify-content-center align-items-center flex-column">
                    <label for="data_noticia" class="form-label">Data da Noticia:</label>
                    <input type="date" id="data_noticia" value="" class="form-control" readonly>
                </div>
                <button class="btn btn-primary" (click)="openModal()">Excluir</button>
            </div>
        </div>
    </div>
</div>