<div class="form__body flex-column">
  <div class="fast-address">
    <h2 class="fast-address__title">Escolha um endereço abaixo</h2>
    <div class="fast-address__options flex-row">
      <div class="fast-address__option flex-column">
        <span>Minha localização atual</span>
        <img class="small-icon" src="icons/entities/black/address.svg" alt="" />
      </div>
      <div class="fast-address__option flex-column">
        <span>Meu endereço</span>
        <img class="small-icon" src="icons/entities/black/address.svg" alt="" />
      </div>
      <div class="fast-address__option flex-column">
        <span>Endereços salvos</span>
        <img class="small-icon" src="icons/entities/black/address.svg" alt="" />
      </div>
    </div>
  </div>
  <div class="address-fields flex-row">
    <img class="address-map" src="images/denuncia/user1.jpg" alt="" />
    <div class="fields flex-column">
      <div class="form__field--groups col-12 flex-row">
        <div class="form__field">
          <label for="" class="form__label">CEP</label>
          <input type="phone" class="form__input" placeholder="00000-000" />
        </div>
        <div class="form__field">
          <label for="" class="form__label">Cidade</label>
          <input type="text" class="form__input" placeholder="Ex: Sorocaba" />
        </div>
      </div>
      <div class="form__field--groups col-12 flex-row">
        <div class="form__field">
          <label for="" class="form__label">Rua</label>
          <input
            type="text"
            class="form__input"
            placeholder="Ex: Rua Jardim Brasilândia"
          />
        </div>
        <div class="form__field">
          <label for="" class="form__label">Número</label>
          <input type="number" class="form__input" placeholder="Ex: 123" />
        </div>
      </div>
      <div class="form__field--groups col-12 flex-row">
        <div class="form__field">
          <label for="" class="form__label">Bairro</label>
          <input
            type="text"
            class="form__input"
            placeholder="Ex: Jardim Brasilândia"
          />
        </div>
      </div>
      <div class="form__field--groups col-12 flex-row">
        <div class="form__field">
          <label for="" class="form__label">Complemento</label>
          <input type="text" class="form__input" placeholder="Ex: fundos" />
        </div>
      </div>
    </div>
  </div>
</div>
