.banner {
    background-image: var(--background-image);
    color: var(--white-font-color);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: var(--space-12);
    gap: var(--space-6);
}

.banner__text{
    width: 50%;
    text-align: center;
    margin-top: var(--space-3);
}

.banner__text p{
    font-size: var(--sm-text);
}

.banner__title{
    font-size: var(--h3);
}

.banner__buttons{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: var(--space-5);
}

.banner__button{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    width: 116px;
    height: 160px;
    gap: var(--space-4);
    border: 2px solid var(--tertiary-color);
    padding: var(--space-3);
    font-size: var(--xs-text);
}