.banner {
    background-image: var(--background-image);
    color: var(--white-font-color);
    padding: var(--space-12);
    gap: var(--space-6);
}

.banner__text{
    width: 50%;
    text-align: center;
    margin-top: var(--space-3);
}

.banner__text p{
    font-size: var(--sm-text);
}

.banner__title{
    font-size: var(--h3);
    font-weight: 400;
}

.banner__buttons{
    gap: var(--space-12);
}

.banner__button{
    width: 116px;
    height: 160px;
    gap: var(--space-4);
    padding: var(--space-3);
    font-size: var(--xs-text);
    box-shadow: var(--button-shadow);
    border-radius: 4px;
    cursor: pointer;
    transition: 0.5s all ease-out;
}


.banner__button p, .banner__button img{
    transition: 0.5s all ease;
}

.banner__button--citizen{
    border: 2px solid #31b776;
}

.banner__button--organization{
    border: 2px solid var(--tertiary-color);
}

.banner__button--organization:hover{
    background-color: var(--secondary-color);
    transform: translateX(4px);
}

.banner__button--organization:hover p{
    transform: translateX(2px);
}

.banner__button--organization:hover img{
    transform: translateX(1px);
}

.banner__button--citizen:hover{
    background-color: #198a54;
    transform: translateX(-4px);
}

.banner__button--citizen:hover p{
    transform: translateX(-2px);
}

.banner__button--citizen:hover img{
    transform: translateX(-1px);
}