<section class="banner">
    <h1 class="banner__title">Bem vindo à Área do Cidadão</h1>
    <div class="banner__text">
        <p> 
            Aqui você pode acompanhar problemas relacionados ao saneamento básico da 
            sua região — como falta de água, esgoto a céu aberto, lixo acumulado e muito mais.
        </p>
    </div>
    <div class="banner__buttons">
        <div class="banner__button">
            <img class="large-icon" src="icons/actions/white/add.svg" alt="">
            <p>Cadastre sua denúncia</p>
        </div>
        <div class="banner__button">
            <img class="large-icon"src="icons/navigation/white/suas-denuncias.svg" alt="">
            <p>Verifique suas denúncias</p>
        </div>
        <div class="banner__button">
            <img class="large-icon"src="icons/entities/white/complaint.svg" alt="">
            <p>Veja todas as denúncias</p>
        </div>
    </div>
</section>