/* Header */
.header {
  padding: 0 var(--space-6);
  background-image: var(--background-image);
  position: sticky;
  top: 0;
  z-index: 9999;
  height: 60px;
  box-shadow: var(--header-shadow);
}

.header__nav {
  width: 100%;
  justify-content: space-between;
  flex-wrap: wrap;
}

.nav__link--home {
  flex: 1;
  justify-content: start;
}

.nav__logo {
  width: 64px;
  height: 64px;
  cursor: pointer;
  transition: 1s all ease;
}

.nav__content {
  flex: 3;
}

.nav__link {
  position: relative;
  color: var(--white-font-color);
  font-size: var(--sm-text);
  text-decoration: none;
  font-weight: 400;
  cursor: pointer;
}

.nav__link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -4px;
  width: 100%;
  height: 2px;
  background-color: var(--tertiary-color);
  border-radius: 8px;
  transform: scaleX(0);
  transform-origin: center;
  transition: transform 0.3s ease-out;
}

.nav__link--active::after {
  transform: scaleX(0.8);
}

.nav__buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: var(--space-2);
}

.nav__login,
.nav__register,
.nav__profile {
  font-weight: 500;
  text-decoration: none;
}

.nav__login {
  background: transparent;
  color: var(--white-font-color);
  border: 2px solid var(--tertiary-color);
}

.nav__register {
  background-color: var(--background-color);
  color: var(--primary-color);
  border: 2px solid var(--background-color);
}

.nav__profile {
  background-color: var(--background-color);
  color: var(--black-font-color);
  border: 2px solid var(--background-color)
}

@media (max-width: 768px) {
  .nav {
    flex-direction: column;
    gap: var(--space-4);
    text-align: center;
  }
}
