header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 52px;
    background-image: 
        linear-gradient(rgba(0, 0, 0, 0.5)), 
        url("/background.png");
    background-size: cover;
    background-position: center;
    height: 10vh;
    position: sticky;
    top: 0;
    z-index: 9999;
}

img{
    cursor: pointer;
    height: 40px;
}