@import '@features/cidadao/styles/auth-form.style.css';

.form{
    width: 450px;
}

.forget-password{
    font-size: var(--sm-text);
    font-weight: 300;
}

.form__button--google {
    background-color: #fff;
    font-size: var(--sm-text);
    color: var(--black-font-color);
    border: none;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
    width: 100%;
}

.footer__buttons{
    margin-bottom: var(--space-4);
}