<section class="login-section">
    <div class="form">
        <header class="form__header">
            <h1 class="form__title">
                Faça seu login
            </h1>
        </header>

        <hr class="login__header-separator">

        <div class="form__body">
            <div class="form__field">
                <label for="" class="form__label">Email</label>
                <input type="text" class="form__input" placeholder="john@gmail.com">
            </div>
            <div class="password-container">
                <div class="form__field">
                    <label for="" class="form__label">Senha</label>
                    <input type="text" class="form__input" placeholder="Sua senha">
                </div>
                <span class="forget-password">Esqueci minha senha</span>
            </div>
        </div>
       
        <footer class="form__footer">
            <div class="footer__buttons">
                <button class="button button--action form__button--submit">
                    ENTRAR
                </button>
                <button class="button form__button--google">
                    <img src="icons/ui/color/google_icon.svg" alt="Ícone de google">
                    Login com google
                </button>
            </div>
            <hr class="login__footer-separator">
            <span class="footer__link">Não possui conta? <span class="to-register-link">Crie uma</span></span>
        </footer>
    </div>
</section>