<section class="login">
    <div class="form">
        <h1 class="form__title">
            Faça seu login
        </h1>
        <hr class="login__title-separator">
        <div class="form__field">
            <label for="" class="form__label">Email</label>
            <input type="text" class="form__input">
        </div>
        <div class="form__field">
            <label for="" class="form__label">Senha</label>
            <input type="text" class="form__input">
        </div>
        <button class="button form__button--submit">
            ENTRAR
        </button>
        <button class="button form__button--google">
            <img src="icons/ui/color/google_icon.svg" alt="Ícone de google">
            Login com google
        </button>
    </div>
</section>