<section class="auth-section">
    <form class="form-container" [formGroup]="loginForm">
        <header class="form-container__header">
            <h1 class="form-container__title">
                Entre na sua conta
            </h1>
        </header>

        <hr class="form__separator--header">

    <div class="form-container__body">
        <app-form-field-input [formControlName]="formConfig[0].formControlName" [config]="formConfig[0]"></app-form-field-input>
      <div class="password-container">
        <app-form-field-input [formControlName]="formConfig[1].formControlName" [config]="formConfig[1]"></app-form-field-input>
        <a class="forget-password" routerLink="/lost-my-password">Esqueci minha senha!</a>
      </div>
    </div>

    <footer class="form-container__footer">
      <div class="footer__buttons">
        <button class="button form__button--submit" (click)="onSubmit()">
          ENTRAR
        </button>
        <button class="button form__button--google">
          <img src="icons/actions/color/google.svg" alt="Ícone de google" />
          Login com google
        </button>
      </div>
      <p class="footer__link">
        Não possui uma conta ainda?
        <a routerLink="/register" class="footer__link--anchor">Clique aqui para criar uma</a>
      </p>
    </footer>
  </form>
</section>