<section class="auth-section">
    <form class="form-container" [formGroup]="resetPasswordForm">
        <header class="form-container__header">
            <h1 class="form-container__title">Alterar Senha</h1>
        </header>

        <hr class="form__separator--header" />

        <div class="form-container__body">
            <div class="field">
                <span class="card-header">Para sua segurança, anote sua nova senha.</span>
            </div>
            <div class="password-container">
                <div class="field">
                    <label for="password" class="field__label">Nova Senha: </label>
                    <input id="password" type="password" class="field__input" placeholder="Digite sua senha"
                        formControlName="password" />
                </div>
                <div class="field">
                    <label for="confirmPassword" class="field__label">Confirmar Senha: </label>
                    <input id="confirmPassword" type="password" class="field__input" placeholder="Digite sua senha novamente..."
                        formControlName="confirmPassword" />
                </div>
            </div>
        </div>

        <footer class="form-container__footer">
            <div class="footer__buttons">
                <button class="button form__button--submit" (click)="onSubmit()">
                    ALTERAR SENHA
                </button>
            </div>
        </footer>
    </form>
</section>