.personal-data {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 0 var(--space-6) var(--space-4) var(--space-6);
  gap: var(--space-4);
  width: 800px;
}

.personal-data__group {
  display: flex;
  justify-content: center;
  align-items: start;
  flex-direction: column;
  padding: var(--space-4) var(--space-6);
  gap: var(--space-5);
  width: 100%;
  box-shadow: var(--card-shadow);
}

.personal-data__group-title {
  font-size: var(--h3);
  color: var(--black-font-color);
}

.personal-data__field-title {
  font-size: var(--md-text);
  font-weight: 400;
  color: var(--black-font-color);
}

.personal-data__field-value {
  font-size: var(--sm-text);
  color: var(--black-font-color);
}

.button--edit-profile {
  color: var(--white-font-color);
  background-color: var(--primary-color);
  padding: var(--space-2) var(--space-7);
}
