.borda{
  border: 5px solid #999898;
  border-top: none;
  border-bottom: none;
}
.footer{
  height: auto;
  background-color: var(--cor-primaria);
  font-size: 1.1em;
}
h5{
  padding-top: 12px;
  color: var(--cor-fonte-branca);
  font-weight: bold;
}
.links-footer a, span{
  color: var(--cor-fonte-branca);
  text-decoration: none;
  transition: transform .3s, text-decoration .3s;
  display: inline-block;
}
.links-footer a:hover, span:hover{
  transform: scale(1.05);
  text-decoration: underline;
}

.links-footer a:focus-visible, span:focus-visible{
  outline: var(--outline-tab-secundario);
}

.links-footer-img a{
  padding-top: 2px;
}
.links-footer-img a img{
  width: 40px;
  padding-right: 20px;
}

.links-footer-img a:focus-visible{
  outline: var(--outline-tab-secundario);
}

@media (max-width:1000px) {
  .borda{
    border: 5px solid #999898;
    border-right: none;
    border-left: none;
  }
}

