section{
    background-color: var(--background-color);
    padding: var(--space-8);
    text-align: center;
}

.cards{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: var(--space-4);
}

.card-denuncia{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    width: 250px;
}

.card-header{
    display: flex;
    justify-content: center;
    align-items: end;
    text-align: center;
    gap: var(--space-2);
    margin-bottom: var(--space-2);
}

.card-header img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.card-body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: var(--space-2);
}

.card-body h3{
    width: 100%;
    font-size: var(--h4);
    color: var(--black-font-color);
}

.card-body img {
    border-radius: 10px;
}

.card-body span{
    text-align: justify;
    font-size: var(--sm-text);
}

.card-footer{
    margin-top: var(--space-4);
}

.card-footer button{
  background: none;
  color:var(--white-font-color);
  background-color: var(--secondary-color);
  border: none;
  font-size: var(--sm-text);
  font-weight: 500;
  padding: var(--space-2) var(--space-4);
  border-radius: 4px;
  cursor: pointer;
  transition: background 0.3s ease;
  box-shadow: var(--button-shadow);
}