<section class="complaint-form flex-column">
    <div class="steps flex-row">
        <div class="steps__step flex-column">
            <div class=step__circle--actual></div>
            <span>O que</span>
        </div>
        <hr class="steps__separator">
        <div class="steps__step flex-column">
            <div class=step__circle></div>
            <span>Onde</span>
        </div>
        <hr class="steps__separator">
        <div class="steps__step flex-column">
            <div class=step__circle></div>
            <span>Tipo</span>
        </div>
    </div>

    <form class="form flex-column">
        <header class="form__header">
            <h1 class="form__title">O que aconteceu</h1>
        </header>
        <div class="form__body">
            <div class="form__field">
                <label class="form__label" for="descricao">Descrição</label>
                <textarea class="form__input form__input--description" 
                    type="text" placeholder="Nos conte o que aconteceu" 
                    rows="3"
                ></textarea>
            </div>
            <div class="form__field flex-column">
                <label class="form__label" for="images">Imagens</label>
                <div class="form__input--image flex-column">
                    <span class="text-sm">Clique aqui para adicionar imagens</span>
                    <img class="large-icon" src="icons/actions/black/add.svg" alt="">
                </div>
            </div>
        </div>
        <div class="form__images flex-row">
            <h3 class="text-sm">Suas imagens ajudarão a ter um melhor entendimento do problema</h3>
             <div class="form__image">
                <img src="images/denuncia/user1.jpg" alt="">
             </div>
             <div class="form__image">
                <img src="images/denuncia/user2.jpg" alt="">
             </div>
             <div class="form__image">
                <img src="images/denuncia/user3.jpg" alt="">
             </div>
             <div class="form__image">
                <img src="images/denuncia/user4.jpg" alt="">
             </div>
             <div class="form__image">
                <img src="images/denuncia/user5.jpg" alt="">
             </div>
             <div class="form__image">
                <img src="images/denuncia/user1.jpg" alt="">
             </div>
        </div>
        <div class="form__footer">
            <button class="button button--action">Prosseguir</button>
        </div>
    </form>
</section>