<section class="complaint-form flex-column">
    <div class="steps flex-row">
        <div class="steps__step flex-column">
            <div class=circle--actual></div>
            <span>O que</span>
        </div>
        <hr class="steps__separator">
        <div class="steps__step flex-column">
            <div class=circle></div>
            <span>Onde</span>
        </div>
        <hr class="steps__separator">
        <div class="steps__step flex-column">
            <div class=circle></div>
            <span>Tipo</span>
        </div>
    </div>

    <form class="form">
        <header class="form__header">
            <h1 class="form__title">O que aconteceu</h1>
        </header>
        <div class="form__body">
            <div class="form__field">
                <label class="form__label" for="descricao">Descrição</label>
                <input class="form__input" type="text" placeholder="Nos conte o que aconteceu">
            </div>
            <div class="form__field--image">
                Clique aqui para adicionar imagens
            </div>
        </div>
        <!-- INPUT DE IMAGEM -->
        <!-- IMAGENS DA DENUNCIA -->
        <!-- BOTÕES  -->
    </form>
</section>