.complaint-form{
    margin: var(--space-6);
    gap: var(--space-4);
}

.form{
    width: 650px;
    padding: var(--space-8);
    gap: var(--space-6);
}

.form__buttons{
    width: 100%;
    gap: var(--space-4);
}

.button{
    width: 100%;
}