<section class="complaint-form flex-column">
  <app-form-steps
    [activeStep]="activeStep"
    [steps]="steps">
  </app-form-steps>

  <form class="form flex-column" [formGroup]="formGroup" (ngSubmit)="onSubmit()">
    @if(activeStep <= steps.length - 1) {
      <header class="form__header">
        <h1 class="form__title">{{ stepTitle }}</h1>
      </header>

      <div class="form__body">
        @switch(activeStep) {
          @case(0) {
            <app-primeira-etapa-formulario
              [formGroup]="getFormGroup('what')">
            </app-primeira-etapa-formulario>
          }
          @case(1) {
            <app-segunda-etapa-formulario
              [formGroup]="getFormGroup('where')">
            </app-segunda-etapa-formulario>
          }
          @case(2) {
            <app-primeira-etapa-formulario
              [formGroup]="getFormGroup('how')">
            </app-primeira-etapa-formulario>
          }
        }
      </div>

      <div class="form__footer">
        <app-form-navigation
          [activeStep]="activeStep"
          [steps]="steps"
          (next)="nextStep()"
          (prev)="previousStep()">
        </app-form-navigation>
      </div>
    } @else {
      <!-- <app-resumo-formulario [formData]="formData"></app-resumo-formulario> -->
    }
  </form>
</section>
