<section class="complaint-history">
    <section class="complaint-feedback flex-column">
        <div class="complaint-feedback__container flex-column">
            <h2 class="complaint-feedback__title">Feedback do cidadão</h2>
            <p class="complaint-feedback__description">
              @if(descricao){
                {{descricao}}
              }
              @else{
                No momento nenhum feedback foi realizado pelo usuário que criou a denúncia
              }
            </p>
        </div>
    </section>
    <section class="complaint-comments flex-column">
        <h2 class="complaint-comments__title">Histórico da Denúncia</h2>
        <div class="complaint-comments__comments flex-column">
            @for (comment of comments; track $index) {
                @if($index < MAX_COMMENTS){
                    <app-comment-card class="w-100" [comment]="comment"></app-comment-card>
                }
            }
        </div>
        @if(comments.length > MAX_COMMENTS){
          <!-- <span>+ {{comments.length - MAX_COMMENTS}} comentários</span> -->
          <button class="button button--primary">Veja o histórico completo</button>
        }
        <form [formGroup]="commentForm" class="complaint__add-complaint flex-column">
          <textarea 
            class="field__textarea"
            placeholder="Faça seu comentário"
            formControlName="newComment"
            (input)="autoGrow($event)"
            #commentTextarea
            required
          ></textarea>
          <button class="button button--primary">Comentar</button>
        </form>
    </section>
</section>
