<div class="search-container">
    <span>Selecione uma categoria</span>
    <input name="" id="">
    <hr class="search-container__separator">
    <span>Categorias selecionadas</span>
    <div class="selected-categories">
      <div class="selected-categories__categorie">
        <img src="wireframe/logo.jpg" alt="">
        <span>Esgoto a céu aberto</span>
      </div>
       <div class="selected-categories__categorie">
        <img src="wireframe/logo.jpg" alt="">
        <span>Esgoto a céu aberto</span>
      </div>
      <div class="selected-categories__categorie">
        <span>+5</span>
      </div>
    </div>
  </div>
