section {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: var(--background-color);
  padding: var(--space-8);
  gap: var(--space-4);
}

.title-separator{
    color: var(--primary-color);
    background-color: var(--primary-color);
    height: 4px;
    width: 50px;
    opacity: 1;
}

.section-separator{
    background-color: var(--primary-color);
    color: var(--primary-color);
    opacity: 1;
    height: 50px;
}

