<div class="form__body flex-column">
  <div class="form__field">
    <label class="form__label" for="descricao">Descrição</label>
    <textarea
      class="form__input--description"
      type="text"
      placeholder="Nos conte o que aconteceu"
    ></textarea>
  </div>
  <div class="form__field flex-column">
    <label class="form__label" for="images">Imagens</label>
    <div class="form__input--image flex-column">
      <span class="text-sm">Clique aqui para adicionar imagens</span>
      <img class="large-icon" src="icons/actions/black/add.svg" alt="" />
    </div>
  </div>
  <div class="form__images flex-row">
    <h3 class="text-sm">
      Suas imagens nos ajudarão a ter um melhor entendimento do problema
    </h3>
    @for (image of images; track $index) {
    <div class="form__image">
      <img src="images/denuncia/{{ image }}.jpg" alt="" />
    </div>
    }
  </div>
</div>
