/* --- Estrutura base de formulários --- */
.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--background-color);
  border-radius: 4px;
  gap: var(--space-6);
  padding: var(--space-8) var(--space-6);
  box-shadow: var(--card-shadow);
}

/* Seções principais */
.form-container__header,
.form-container__body,
.form-container__footer {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: var(--space-3);
}

.form-container__footer{
  margin-top: var(--space-4);
}

.form-container__body, .form-container__footer{
  text-align: center;
}

.form-container__title {
  font-size: var(--h2);
  color: var(--black-font-color);
}

/* Field */
.field {
  display: flex;
  flex-direction: column;
  gap: var(--space-1);
  width: 100%;
}

.field-group{
  width: 100%;
  gap: var(--space-4);
}

.field__label {
  font-size: var(--md-text);
  text-align: start;
  width: 100%;
}

.field__input {
  width: 100%;
  height: 40px;
  background-color: var(--background-color);
  border: 1px solid var(--background-dark-color);
  padding: var(--space-3) var(--space-2);
  font-size: var(--sm-text);
  border-radius: 4px;
  box-shadow: var(--input-shadow);
}

/* Textarea auto-expand */
.field__textarea {
  width: 100%;
  min-height: 40px;
  max-height: 300px;
  background-color: var(--background-color);
  border: 1px solid var(--background-dark-color);
  padding: var(--space-3) var(--space-2);
  font-size: var(--sm-text);
  border-radius: 4px;
  box-shadow: var(--input-shadow);
  resize: none;
  transition: min-height 0.2s;
}

/* Botão genérico */
.form__button--submit {
  border: none;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
  background-color: var(--primary-color);
  color: var(--white-font-color);
  height: 45px;
  width: 100%;
}

/* Ícones */
.input__icon {
  width: 24px;
  height: 24px;
}

.footer__link, .footer__link--anchor{
    font-size: var(--md-text);
}

.footer__link--anchor{
  color: var(--primary-color);
  font-weight: 500;
}