 <!-- About Section -->
  <section class="about text-center">
    <div class="about__content">
      <h2 class="about__title">Sobre o SaneaSP</h2>
      <div class="about__logo">
        <img src="logo_sanea_sp.png" alt="Logo SaneaSP" />
      </div>
      <p class="about__description">
        O SaneaSP é um projeto dedicado a fortalecer a comunicação<br />
        entre cidadãos e organizações e a promover melhorias no<br />
        saneamento básico em todo o Estado de São Paulo.
      </p>
      <div class="about__team-avatars">
        <div class="about__avatar">
          <img src="images/home/adryann.webp" alt="Imagem Davy" />
        </div>
        <div class="about__avatar">
          <img src="images/home/davy.webp" alt="Imagem Matheus Gueff" />
        </div>
        <div class="about__avatar">
          <img src="images/home/gueff.webp" alt="Imagem Matheus Nery" />
        </div>
        <div class="about__avatar">
          <img src="images/home/pedro.webp" alt="Imagem Pedro" />
        </div>
        <div class="about__avatar">
          <img src="images/home/ryan.webp" alt="Imagem Ryan" />
        </div>
      </div>
    </div>
  </section>