/* About Section */
.about {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5)), url("/background.png");
  color: var(--white-font-color);
  padding: var(--space-10) var(--space-8);
}

.about-title {
  font-size: var(--h1);
  margin-bottom: var(--space-8);
  font-weight: 400;
  text-shadow: var(--text-shadow);
}

.about-description {
  font-size: var(--lg-text);
  margin-bottom: var(--space-12);
}

.about-logo {
  margin-bottom: var(--space-12);
}

.about-logo img {
  width: 100px;
  height: 100px;
}

.team-avatars {
  display: flex;
  justify-content: center;
  gap: var(--space-4);
}

.avatar {
  width: 72px;
  height: 72px;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.2);
  overflow: hidden;
  box-shadow: var(--home-button-shadow);
}

.avatar img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media (max-width: 768px) {
  .team-avatars {
    flex-wrap: wrap;
  }
}
