 <!-- About Section -->
  <section class="about text-center">
    <div class="about-content">
      <h2 class="about-title">Sobre o SaneaSP</h2>
      <div class="about-logo">
        <img src="icon_saneaSP.ico" alt="Logo SaneaSP" />
      </div>
      <p class="about-description">
        O SaneaSP é um projeto dedicado a fortalecer a comunicação<br />
        entre cidadãos e organizações e a promover melhorias no<br />
        saneamento básico em todo o Estado de São Paulo.
      </p>
      <div class="team-avatars">
        <div class="avatar">
          <img src="images/home/adryann.jpg" alt="Imagem Davy" />
        </div>
        <div class="avatar">
          <img src="images/home/davy.jpg" alt="Imagem Matheus Gueff" />
        </div>
        <div class="avatar">
          <img src="images/home/gueff.jpg" alt="Imagem Matheus Nery" />
        </div>
        <div class="avatar">
          <img src="images/home/pedro.jpeg" alt="Imagem Pedro" />
        </div>
        <div class="avatar">
          <img src="images/home/ryan.jpeg" alt="Imagem Ryan" />
        </div>
      </div>
    </div>
  </section>