<section class="minhas-denuncias">
  <div class="minhas-denuncias__status-search">
    <h2>Procurar denúncias</h2>
    <div class="minhas-denuncias__filters">
      <button class="minhas-denuncias__filter button">
        <img class="small-icon" src="icons/ui/white/complaint.svg" alt="Em aberto">
        Em aberto
      </button>
      <button class="minhas-denuncias__filter button">
        <img class="small-icon" src="icons/ui/white/complaint.svg" alt="Visualizada">
        Visualizada
      </button>
      <button class="minhas-denuncias__filter button">
        <img class="small-icon" src="icons/ui/white/complaint.svg" alt="Em análise">
        Em análise
      </button>
      <button class="minhas-denuncias__filter button">
        <img class="small-icon" src="icons/ui/white/complaint.svg" alt="Concluída">
        Concluída
      </button>
    </div>
  </div>

  <section class="complaint-list complaint-list--opened">
    <header class="complaint-list__header">
      <h2 class="minhas-denuncias__title">Denúncias em aberto</h2>
      <p class="minhas-denuncias__description">Aguarde até que sua denúncia seja visualizada</p>
    </header>
    <app-denuncias-grid [denuncias]="denuncias"></app-denuncias-grid>
  </section>

  <section class="complaint-list complaint-list--viewed">
    <header class="complaint-list__header">
      <h2 class="minhas-denuncias__title">Denúncias visualizadas</h2>
      <p class="minhas-denuncias__description">Sua denúncia logo será respondida</p>
    </header>
    <app-denuncias-grid [denuncias]="denuncias"></app-denuncias-grid>
  </section>

  <section class="complaint-list complaint-list--reviewed">
    <header class="complaint-list__header">
      <h2 class="minhas-denuncias__title">Denúncias em análise</h2>
      <p class="minhas-denuncias__description">Sendo encaminhada para outra organização</p>
    </header>
    <app-denuncias-grid [denuncias]="denuncias"></app-denuncias-grid>
  </section>

  <section class="complaint-list complaint-list--completed">
    <header class="complaint-list__header">
      <h2 class="minhas-denuncias__title">Denúncias finalizadas</h2>
      <p class="minhas-denuncias__description">Seu problema foi resolvido</p>
    </header>
    <app-denuncias-grid [denuncias]="denuncias"></app-denuncias-grid>
  </section>
</section>
