<section class="minhas-denuncias flex-column">
  <div class="minhas-denuncias__status-search flex-column">
    <h2>Procurar denúncias</h2>
    <div class="minhas-denuncias__filters flex-row">
      @for (filter of filters; track $index) {
        <button 
          class="minhas-denuncias__filter button"
          (click)="changeActiveStatus(filter.status)"
          [ngClass]="{ 'minhas-denuncias__filter--active': isActiveStatus(filter.status)}"
        >
          @if(filter.icon){
            <img
              class="small-icon"
              [src]="'icons/'+ filter.icon.folder + '/' + (isActiveStatus(filter.status) ? 'white' : 'black') + '/' + filter.icon.name + '.svg'"
              [alt]="filter.name"
            >
          }
          {{filter.name}}
        </button>
      }
    </div>
  </div>

  @if(currentStatusInfo){
    <section [class]="'complaint-list complaint-list--' + currentStatusInfo.class">
        <header class="complaint-list__header">
          <h2 class="minhas-denuncias__title">{{currentStatusInfo.title}}</h2>
          <p class="minhas-denuncias__description">{{currentStatusInfo.description}}</p>
        </header>
        <app-denuncias-grid [denuncias]="denuncias"></app-denuncias-grid>
    </section>
  }
</section>
