<!-- Main Content -->
<section class="main-content text-center">
  <div class="row d-flex justify-content-center align-items-center gap-4">
    <!-- Cidadão Card -->
    <div class="card">
      <h2 class="card__title">Sou um cidadão</h2>
      <div class="card__image">
        <img src="images/home/cidadao-img.webp" alt="Ilustração de cidadãos" />
      </div>
      <p class="card__description">
        Seja ouvido. Registre sua denúncia e contribua para<br />
        melhorar sua cidade.
      </p>
      <button class="card__button button button--action">Faça sua denúncia</button>
    </div>

    <!-- Organização Card -->
    <div class="card">
      <h2 class="card__title">Sou uma organização</h2>
      <div class="card__image">
        <img src="images/home/organizacao-img.webp" alt="Ilustração de organização" />
      </div>
      <p class="card__description">
        Conecte-se com sua comunidade. Organize as<br />
        demandas e eleve a qualidade dos serviços.
      </p>
      <button class="card__button button button--action">Administre sua região</button>
    </div>
  </div>
</section>
