 <!-- Main Content -->
  <section class="main-content text-center">
    <div class="content-row d-flex justify-content-center align-items-center gap-4">
      <!-- Cidadão Section -->
      <div class="content-card">
        <h2 class="card-title">Sou um cidadão</h2>
        <div class="card-image">
          <img src="images/home/cidadao-img.webp" alt="Ilustração de cidadãos" />
        </div>
        <p class="card-description">
          Seja ouvido. Registre sua denúncia e contribua para<br />
          melhorar sua cidade.
        </p>
        <button class="card-button">Faça sua denúncia</button>
      </div>
      <!-- Organização Section -->
      <div class="content-card">
        <h2 class="card-title">Sou uma organização</h2>
        <div class="card-image">
          <img
            src="images/home/organizacao-img.webp"
            alt="Ilustração de organização"
          />
        </div>
        <p class="card-description">
          Conecte-se com sua comunidade. Organize as<br />
          demandas e eleve a qualidade dos serviços.
        </p>
        <button class="card-button">Administre sua região</button>
      </div>
    </div>
  </section>