/* Banner Section */
.banner {
  background-image: var(--background-image);
  color: var(--white-font-color);
  text-align: center;
  padding: var(--space-10);
}

.banner__content {
  width: 75vw;
  gap: var(--space-12);
  padding: var(--space-5);
}

.banner__text{
  gap: var(--space-8);
}

.banner__title {
  font-size: var(--h1);
  font-weight: 400;
  text-shadow: var(--text-shadow);
}

.banner__subtitle {
  font-size: var(--md-text);
  font-weight: 300;
}

.button--cta {
  background: none;
  color: var(--white-font-color);
  border: 2px solid var(--tertiary-color);
  font-size: var(--md-text);
  font-weight: 500;
  padding: var(--space-3) var(--space-7);
  border-radius: 4px;
  cursor: pointer;
  transition: background 0.3s ease;
  box-shadow: var(--button-shadow);
  width: 350px;
}

@media (max-width: 768px) {
  .banner__title {
    font-size: var(--h4);
  }
}