<form [formGroup]="form" [ngClass]="'form-container'" (ngSubmit)="adicionarEvento()" class="form">
    <h2 class="form-container__title">Agendar Visita</h2>
    <app-form-field-input 
      [formControlName]="formConfig[0].formControlName" 
      [config]="formConfig[0]"
      >
    </app-form-field-input>
    <div class="flex-row date-fields">
      <app-form-field-input 
        [formControlName]="formConfig[1].formControlName" 
        [config]="formConfig[1]"
        >
      </app-form-field-input>
      <app-form-field-input 
        [formControlName]="formConfig[2].formControlName" 
        [config]="formConfig[2]">
      </app-form-field-input>
    </div>
    <button class="form__button--submit" type="submit">Adicionar</button>
</form>