<section class="auth-section">
    <form class="form-container" [formGroup]="lostPasswordForm">
        <header class="form-container__header">
            <h1 class="form-container__title">Esqueceu sua senha?</h1>
        </header>
        <hr class="form__separator--header" />
        <div class="form-container__body">
            <div class="field">
                <label for="email" class="field__label">Digite seu E-mail: </label>
                <input type="email" class="field__input" id="email" placeholder="nome@exemplo.com"
                    formControlName="email" />
            </div>
        </div>
        <footer class="form-container__footer">
            <div class="footer__buttons">
                <button class="button form__button--submit" (click)="onSubmit()">
                    ENVIAR
                </button>
                <button class="button form__button--google" routerLink="/cidadao/login">
                    Voltar
                </button>
            </div>
        </footer>
    </form>
</section>