<!-- Verifica se encontrou a reclamação -->
@if (existReclamcao) {
<section
  *ngIf="reclamacao$ | async as reclamacao"
  class="painel m-5 justifica rounded background"
>
  <header class="header-painel row justify-content-between p-4 mx-0 h-auto">
    <div id="carouselImage" class="carousel slide col-3">
      <div class="carousel-inner">
        @for (imagem of reclamacao.Imagens; track imagem.id; let firstImage =
        $first ) { @if(firstImage){
        <div class="carousel-item active text-center">
          <img
            src="img/paginas/reclamacoes/{{ imagem.nome }}"
            class="card-icon-large imgPainel"
            alt="Imagem da Reclamação"
          />
        </div>
        } @else {
        <div class="carousel-item text-center">
          <img
            src="img/paginas/reclamacoes/{{ imagem.nome }}"
            class="card-icon-large imgPainel"
            alt="Imagem da Reclamação"
          />
        </div>
        } } @empty {
        <img src="image-not-found.svg" alt="icone" class="card-icon-large imgPainel" />
        }
      </div>

      @if(reclamacao.Imagens.length > 1){
      <button
        class="carousel-control-prev"
        type="button"
        data-bs-target="#carouselImage"
        data-bs-slide="prev"
      >
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button
        class="carousel-control-next"
        type="button"
        data-bs-target="#carouselImage"
        data-bs-slide="next"
      >
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
      }
    </div>
    <article class="col text-center">
      <h1 class="h3">{{ reclamacao.titulo }}</h1>
      <span class="h6">
        {{ reclamacao.data | date }}
      </span>
    </article>
    <article class="col">
      <section class="d-flex flex-row justify-content-between h6">
        <div class="situacao">
          Situação:<span> {{ reclamacao.status }}</span>
        </div>
        <div class="pontuacao">
          Pontuação:<span> {{ reclamacao.pontuacao }}</span>
        </div>
      </section>
      @if(reclamacao.Tags.length > 0){
      <section
        class="tags d-flex align-items-center me-md-0 mt-md-4 m-md-0 gap-md-2"
      >
        <span class="tag" *ngFor="let tag of reclamacao.Tags">
          {{ tag.nome }}
        </span>
      </section>
      }
    </article>
  </header>
  <article class="pb-3 my-3 info ms-3 me-4">
    <div class="descricao row">
      <h3 class="h5 fw-semibold">Descrição:</h3>
      <p class="paragraf-painel">
        {{ reclamacao.descricao }}
      </p>
    </div>
    <div class="localizacao row w-50 m-auto">
      <h3 class="h5 fw-semibold">Localização:</h3>
      <p class="fw-semibold">
        Rua <span class="fw-normal">{{ reclamacao.rua }}</span>
      </p>
      <p class="fw-semibold">
        Número: <span class="fw-normal">{{ reclamacao.rua }}</span>
      </p>
      <p class="fw-semibold">
        Complemento: <span class="fw-normal">{{ reclamacao.rua }}</span>
      </p>
      <p class="fw-semibold">
        Cidade: <span class="fw-normal">{{ reclamacao.rua }}</span>
      </p>
      <p class="fw-semibold">
        Bairro: <span class="fw-normal">{{ reclamacao.rua }}</span>
      </p>
    </div>
  </article>

  <footer class="d-flex justify-content-between my-3 ms-3 me-4">
    <a class="btn btn-primary" routerLink="{{ caminhoVoltar }}">Voltar</a>
    <a class="btn btn-primary" routerLink="/comentario/{{ reclamacao.id }}"
      >Ir para Comentários</a
    >
  </footer>
</section>
} @else {
<div class="erro my-5 m-auto">
  <app-not-found
    [mensageError]="erro"
    [caminhoVoltar]="caminhoVoltar"
  ></app-not-found>
</div>
}
