  <!-- Verifica se encontrou a reclamação -->
  @if (existReclamcao) {
  <div *ngIf="reclamacao$ | async as reclamacao" class=" container-md container-sm-fluid painel my-sm-0 my-md-5 text-sm-center ">
    <header class="row header-painel justify-content-sm-center">
      <article id="carouselImage" class="carousel slide col-sm-12 col-md-3 ">
        <div class="carousel-inner">
          @for (imagem of reclamacao.Imagens; track imagem.id; let firstImage = $first ) {
            @if(firstImage){
              <figure class="carousel-item active">
                <img src="{{imagem.nome}}" class="w-100" alt="imagem {{$index + 1}} da reclamação">
              </figure>
            }
            @else {
                <figure class="carousel-item">
                  <img src="{{imagem.nome}}" class="w-100" alt="imagem {{$index + 1}} da reclamação">
                </figure>
              }
          } @empty {
            <figure>
              <img src="image-not-found.svg" alt="icone" class="w-100">
            </figure>
          }
        </div>

        @if(reclamacao.Imagens.length > 1){
          <button class="carousel-control-prev" type="button" data-bs-target="#carouselImage" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouselImage" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        }
      </article>
      <div class=" col-sm-12 col-md-9 row">
        <h2>{{ reclamacao.titulo }}</h2>
        <span>
          {{ reclamacao.data }}
        </span>
      </div>
    </header>
    <article class="row info pb-3 my-3 ms-3 me-4">
      <p class="paragraf-painel">
        {{ reclamacao.descricao }}
      </p>
    </article>

    <footer class=" row my-3 ms-3 me-4">
      <a class="btn btn-primary" routerLink="{{caminhoVoltar}}">Voltar</a>
      <a class="btn btn-primary" routerLink="/comentario/{{ reclamacao.id }}">Ir para Comentários</a>
    </footer>
  </div>
  }
  @else {
  <div class="erro">
    <app-not-found [mensageError]="erro" [caminhoVoltar]="caminhoVoltar"></app-not-found>
  </div>
  }
