.painel {
  background-color: #e0e0e0;
  border-radius: 10px;
  border: 1px solid #bdbbbb;
  height: auto;
}

.info {
  border-bottom: solid 3px;
  border-color: #8f8f8f;
}

.imgPainel{
  border: 2px solid #fff;
  border-radius: 5px;
}
.paragraf-painel{
  text-indent: 50px;
  text-align: justify;
}

.tag{
  border-radius: 30px;
  color:rgb(34, 34, 34);
  padding: 2px 15px;
  background-color: white;
  font-size: 0.9rem;
  min-height: 30px;
  height: auto;
}

.pontuacao span{
  color: #0CD1FE;
}
.situacao span{
  color: #F89C40;
}


