@if(denuncia != null){
    <div class="complaint-card">
    <div class="complaint-card__header">
      <img src="wireframe/logo.jpg" alt="Logo da organização" />
      <span>Há uma semana</span>
    </div>
    <div class="complaint-card__body">
      <img src="wireframe/denuncia.jpg" alt="Imagem da denúncia" />
      <h3>{{denuncia.title}}</h3>
      <p>{{ denuncia.description }}</p>
    </div>
    <div class="complaint-card__footer">
      <button class="button button--primary">Ver mais</button>
    </div>
  </div>
}
