.borda{
  border: 4px solid #aaaaaa;
}
.borda:focus{
  border: 4px solid #aaaaaa;
}
.banner{
  background-color: #F0F0F0;
  border-radius: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.banner p{
  text-align: justify;
}
.tags, .adicionar{
  display: flex;
  flex-direction: column;
  align-content: space-between;
  align-items: center;
}
.tag, .adicionar .adicionar-btn {
  display:  flex;
  justify-content: center;
  background-color: var(--secondary-color);
  align-items: center;
}
.titulo-reclamacao, .tag-reclamacao{
  text-align: center;
  width: 50%;
}
  
.cards{
  gap: 40px;
  margin: 40px 20px 20px 20px;
}
.cards-item{
  background-color: var(--terciary-color);
  padding: 20px;
  border-radius: 20px;
  width: 70%;
  cursor: pointer;
  font-weight: 500;
  font-size: 0.875rem;
}

