<div class="col-md-12 col-sm-12 mb-3">
  <img class="form-icon me-1" src="images/denuncia/tag-icon.svg" />
  <label for="tags" class="form-label">Tags:</label>
  <select
    [formControl]="select"
    class="form-control text-center"
    id="tags"
    placeholder="Procure uma Tag"
  >
    <!-- <option *ngFor="let item of list" [value]="item">{{item}}</option> -->
    <option [ngValue]="tagNull"  selected>Nenhum</option>
    @for (tag of formTags; track tag.id) {
      <option [ngValue]="tag">{{ tag.nome }}</option>
    }
  </select>
</div>

<div class="col-md-12 col-sm-12 pe-0 h-auto mb-2">
  <label for="tag-selecionada" class="form-label">Tags selecionadas:</label>
  <div class="tags-selected h-auto p-1 flex-wrap d-flex flex-row justify-content-around gap-1" id="tag-selecionada">
    @for (tag of tagSelected; track tag.id) {
      <button (click)="RemoveTagSelect(tag)" class="tag w-25 rounded-pill">
        {{ tag.nome }}
      </button>
    }
    @empty {
      <p class="Nottag w-100 m-auto">Nenhuma Tag selecionada</p>
    }
  </div>
</div>
@if(isFiltro){
  <div class="col-md-12 col-sm-12 pe-0 text-center my-3">
    <button type="button" (click)="Buscar.emit()" class="btn btn-primary w-25 rounded-pill py-3">Buscar</button>
  </div>
}
