<form [formGroup]="formGroup" class="form-step__body flex-column">
  <!-- Seleção rápida de endereço -->
  <section class="quick-address flex-column">
    <h2 class="quick-address__title">Escolha um endereço abaixo ou informe um novo</h2>
    <div class="quick-address__options flex-row">
      <div class="quick-address__option flex-column">
        <img class="quick-address__icon" src="icons/entities/black/address.svg" alt="" />
        <span>Localização atual</span>
      </div>
      <div class="quick-address__option flex-column">
        <img class="quick-address__icon" src="icons/entities/black/address.svg" alt="" />
        <span>Meu endereço</span>
      </div>
      <div class="quick-address__option flex-column">
        <img class="quick-address__icon" src="icons/entities/black/address.svg" alt="" />
        <span>Endereços salvos</span>
      </div>
    </div>
  </section>
  
  <!-- Campos e mapa lado a lado -->
  <section class="address-section flex-row">

    <!-- Imagem do mapa -->
    <app-map></app-map>

    <!-- Campos de endereço -->
    <div class="address-section__fields flex-column">
      <div class="field-group flex-row">
        <app-form-field-input [formControlName]="formFields[0].formControlName" [config]="formFields[0]"></app-form-field-input>
        <app-form-field-input [formControlName]="formFields[1].formControlName" [config]="formFields[1]"></app-form-field-input>
      </div>

      <div class="field-group flex-row">
        <app-form-field-input [formControlName]="formFields[2].formControlName" [config]="formFields[2]"></app-form-field-input>
        <app-form-field-input [formControlName]="formFields[3].formControlName" [config]="formFields[3]"></app-form-field-input>
      </div>

      <app-form-field-input [formControlName]="formFields[4].formControlName" [config]="formFields[4]"></app-form-field-input>
      <app-form-field-input [formControlName]="formFields[5].formControlName" [config]="formFields[5]"></app-form-field-input>
    </div>
  </section>

</form>
