/* Import da fonte Poppins e MontSerrat */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*{
  margin: 0px;
  padding: 0px;
  font-family: var(--familia-primaria);
}

/* --- INICIO VARIÁVEIS DO CSS GLOBAL  --- */
:root{
    /* Cores de fundo */
    --background-dark-color: #AEB7BD;
    --background-color: #D9D9D9;
    --primary-color: #295A80;
    --primary-dark-color: #345976;
    --secondary-color: #006992;
    --secondary-dark-color: #226185;
    --terciary-color: #8BB5D4;
    --terciary-dark-color: #496D87;

    --white-font-color: #FAF9F6;
    --black-font-color: #1c1c1c;
    --text-shadow: 2px 0px 0px 0px rgba(0, 0, 0, 0.25);

    --green-color: #428029;
    --red-color: #802B29;

    /* Acessibilidade */
    --outline-tab-primario: 2px solid var(--primary-color);
    --outline-tab-secundario: 2px solid #fff;
    --outline-tab-terciario: 2px solid #000;

    /* Fontes */
    --familia-primaria: Montserrat, sans-serif;

    /* Toast notification */
    --tempo-toast: 4s;
    --tempo-surgimento: 0.3s;
    --tempo-dismiss: 0.5s;

    /* Sombras */
    --text-shadow: 0px 2px 2px rgba(0,0,0,0.25);
    --button-shadow: 0px 4px 4px rgba(0,0,0,0.25);
  }

/* INICIO PADRÕES */

.rounded{
  border-radius: 20px;
}

/* --- Background das páginas --- */
.background{
  background-color: var(--background-color);
}

/* --- INICIO ACESSIBILIDADE --- */

/* Estilo global para as tags (pode ser sobrescrito utilizando as classes focus-primario, secundario e terciario */
input:focus-visible,
textarea:focus-visible{
  outline: var(--outline-tab-primario) !important;
}

a:focus-visible,
button:focus-visible,
.btn:focus-visible{
  outline: var(--outline-tab-terciario) !important;
}

.btn{
  color: var(--white-font-color) !important;
}

.btn:focus-visible{
  box-shadow: none !important;
}

/* Estilo com outline azul escuro */
.focus-primario:focus-visible{
  outline: var(--outline-tab-primario) !important;
}

/* Estilo com outline branco */
.focus-secundario:focus-visible{
  outline: var(--outline-tab-secundario) !important;
}

/* Estilo com outline preto */
.focus-terciario:focus-visible{
  outline: var(--outline-tab-terciario) !important;
}

/* INICIO ESTILOS DO MODAL */

.modal-content{
  background-color: var(--primary-color) !important;
}

.modal-header, .modal-footer {
  color: var(--white-font-color);
}

.modal-header{
  border-bottom: 0px !important;
}

.modal-footer{
  border-top: 0px !important;
}
.modal-body{
  background-color: var(--cor-form-login);
  border: none !important;
}

/* INICIO ESTILOS DE LISTAS */

.list-group .list-group-item{
    background-color: var(--background-color) !important;
    color: var(--primary-color);
    text-align: center;
    border: 1px solid var(--primary-color);
    cursor: pointer;
    transition: 0.6s color ease, 0.8s background-color ease, 0.6s transform ease;
}

.list-group .list-group-item:hover, .list-group .list-group-item:focus-visible{
    background-color: var(--primary-color) !important;
    color: var(--white-font-color);
    transform: translateX(2px);
}

/* --- INICIO ESTILOS DO SWEETALERT ---  */
.sweet_popup{
  padding: 10px;
}

.sweet_title{
  font-size: 1.7rem !important;
  font-weight: 400 !important;
}

.sweet_btn{
  border: none;
  padding: 10px 20px !important;
  font-size: 18px !important;
  transition: .4s opacity ease !important;
}

.sweet_btn_success {
  background-color: var(--secondary-color) !important;
  color: var(--primary-color) !important;
}

.sweet_btn_success:hover {
  opacity: 0.5 !important
}

.sweet_btn_success:focus {
  outline: var(--outline-tab-terciario) !important;
  box-shadow: 0 0 5px var(--terciary-color) !important;
}

.sweet_btn_danger {
  background-color: var(--cor-botao-danger) !important;
  color: var(--white-font-color) !important;
}

.sweet_btn_danger:hover {
  opacity: 0.5 !important
}

.sweet_btn_danger:focus {
  outline: var(--outline-tab-terciario) !important;
  box-shadow: 0 0 5px var(--terciary-color) !important;
}
/* Fim dos estilos do SweetAlert */

/* --- INICIO CSS PADRÃO PARA CARDS --- */
.card, .comentario{
  cursor: pointer;
  border: none;
  transition: 0.6s transform ease, 0.6s opacity ease;
  box-shadow: var(--box-shadow-padrao);
  text-decoration: none;
}

.card-header, .header-painel, .header-comentario{
  background-color: var(--primary-color) !important;
  color: var(--white-font-color) !important;
  font-size: 1.2rem;
}

.card-body{
  background-color: #e0e0e0;
  font-size: 0.85rem;
}

.card:hover{
  opacity: 0.9;
  transform: translateY(-6px);
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.12);
}

/* Botão primário dentro de uma classe card */
.card:hover .btn-primary:hover{
  transform: translateX(4px);
  opacity: 0.8;
}

.card-icon {
  width: 30px;
  height: 30px;
}

.card-icon-large{
  width: 140px;
  height: 140px;
  border-radius: 10px;
  box-shadow: var(--box-shadow-padrao)
}

@media(max-width: 992px){
  /* Breakpoint md */
  .card-image-div{
    justify-content: center;
  }
}

/* --- INÍCIO CSS PADRÃO PARA BOTÕES --- */

.btn-primary, .btn-secondary, .btn-terciary, .btn-quaternary{
  transition: 0.4s transform ease, 0.6s opacity ease !important;
  box-shadow: 0 8px 20px -5px rgba(0, 0, 0, 0.15);
}

.btn-primary{
  background-color: var(--cor-quaternaria) !important;
  border-color: var(--cor-quaternaria) !important;
}

.btn-secondary{
  background-color: var(--cor-botao-danger) !important;
  border-color: var(--cor-botao-danger) !important;
}

.btn-terciary{
  background-color: var(--secondary-color) !important;
  border-color: var(--secondary-color) !important;
  color: var(--cor-fonte-preta) !important;
}

.btn-quaternary{
  background-color: transparent !important;
  border: 2px solid var(--terciary-color) !important;
  color: var(--white-font-color) !important;
}

.btn-primary:hover, .btn-secondary:hover, .btn-terciary:hover{
  transform: translateY(-4px);
  opacity: 0.9;
}

.btn-primary:active{
  background-color: var(--cor-quaternaria);
  border-color: var(--cor-quaternaria);
  opacity: 0.8;
}

.btn-terciary:hover{
  color: var(--cor-fonte-preta) !important;
}

.btn-quaternary:hover{
  transform: translateX(-5px);
  opacity: 0.8;
}

.btn-icon{
  width: 24px;
  height: 24px;
}


/* --- INÍCIO CSS PADRÃO PARA FORMULÁRIOS --- */
/* Div do formulário */
.form{
  /* Width e Height devem ser definidos no CSS do componente, dentro dessa classe */
   background-color: var(--cor-form-login);
   border: 6px solid var(--primary-color);
   box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Elementos do formulário */
.form-label{
   font-size: 1rem !important;
}

.form-control, .form-select, .tags-selected{
   background-color:  #dfdddd !important;/* #575757 */
   border: 1px solid var(--cor-quaternaria) !important;
   border-radius: 10px !important;
   width: 100% !important;
   height: 40px !important;
   font-size: 0.9rem !important;
   transition: 0.6s transform ease !important;
   box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1) !important;
}

.form-control:focus, .form-select:focus{
   transform: translate(2px) !important;
   border: 3px solid var(--primary-color) !important;
   outline: none !important;
}

/* Icones do formulário */
.form-icon{
   width: 30px;
   height: 30px;
}

/* Botão de Ação */
.form-btn{
   background-color: var(--cor-quaternaria) !important;
   color: #fff ;
   border: none;
   border-radius: 5px;
   width: 206px;
   height: 46px;
   font-size: 1rem;
   letter-spacing: 1.2px;
   transition: 0.6s transform ease, 0.6s opacity ease;;
}

.form-btn:hover{
   opacity: 0.8;
   transform: translateY(-5px);
   cursor: pointer;
}

.required-control{
  color: red;
}

/* Estilos dos links */
.texto-link-form{
  font-size: 0.875rem;
}

.texto-validacao-erro-form{
  font-size: 0.8rem;
  color: #ff0a0a;
}

.texto-validacao-sucesso-form{
  font-size: 0.8rem;
  color: green;
}

.icone-validacao-form{
  width: 16px;
  height: 16px;
}

.link-form{
  color: var(--cor-fonte-link);
  font-size: 0.85rem;
}

.link-form:hover{
  opacity: 0.8;
  cursor: pointer;
}

@media(max-width: 768px){
  /* Breakpoint md */
  .form{
    width: auto !important;
    height: auto !important;
    padding: 10px;
  }
}
