/* Import da fonte MontSerrat */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0px;
  padding: 0px;
  font-family: var(--primary-font);
}

:root {
  /* Cores de fundo */
  --background-dark-color: #aeb7bd;
  --background-color: #f8f8f8; /* Antigamente D9D9D9 */
  --primary-color: #295a80;
  --primary-dark-color: #345976;
  --secondary-color: #006992;
  --secondary-dark-color: #226185;
  --tertiary-color: #8bb5d4;
  --tertiary-dark-color: #496d87;

  /* Sombras */
  --container-shadow: 0px 6px 6px -8px #000000;
  --header-shadow: 0px 4px 11px -5px rgba(0,0,0,0.5);
  --card-shadow: 0px 0px 6px -1px rgba(0,0,0,0.5);
   /* 0 4px 8px rgba(0, 0, 0, 0.1) */
  --button-shadow: 0px 6px 6px -6px rgba(0,0,0,0.5);
  --input-shadow: 0px 4px 3px -4px rgba(0,0,0,0.22);
  /* Texto */
  --white-font-color: #faf9f6;
  --black-font-color: #1c1c1c;
  --text-shadow: 2px 0px 0px 0px rgba(0, 0, 0, 0.25);

  /* Imagem de fundo destaque do site */
  --background-image: url("/background.svg");

  /* Acessibilidade */
  --outline-tab-primario: 2px solid var(--primary-color);
  --outline-tab-secundario: 2px solid #fff;
  --outline-tab-terciario: 2px solid #000;

  /* Fontes */
  --primary-font: Montserrat, sans-serif;

  /* Toast notification */
  --tempo-toast: 4s;
  --tempo-surgimento: 0.3s;
  --tempo-dismiss: 0.5s;

  /*---- TEXT SIZE ----*/
  /* Baseado em escalas de 4px */
  --h1: 36px;
  --h2: 32px;
  --h3: 28px;
  --h4: 24px;
  --lg-text: 20px;
  --md-text: 16px;
  --sm-text: 14px;
  --xs-text: 12px;

  /*---- PADDING, MARGIN E GAP - SPACINGS (4 - 4px) ----*/
  --space-1: 4px; /* 1 * 4px */
  --space-2: 8px; /* 2 * 4px */
  --space-3: 12px; /* 3 * 4px */
  --space-4: 16px; /* 4 * 4px */
  --space-5: 20px; /* 5 * 4px */
  --space-6: 24px; /* 6 * 4px */
  --space-7: 28px; /* 7 * 4px */
  --space-8: 32px; /* 8 * 4px */
  --space-9: 36px; /* 9 * 4px */
  --space-10: 40px; /* 10 * 4px */
  --space-12: 48px; /* 12 * 4px */
  --space-16: 64px; /* 16 * 4px */
}

/* Utilitários de sombras */
.container-shadow{
  box-shadow: var(--container-shadow);
}

.button-shadow{
  box-shadow: var(--button-shadow);
}

.card-shadow{
  box-shadow: var(--card-shadow);
}

/* Padronização dos headings */
h1 {
  font-size: var(--h1);
}
h2 {
  font-size: var(--h2);
}
h3 {
  font-size: var(--h3);
}
h4 {
  font-size: var(--h4);
}

/* Utilitários de texto */
.text-h1 {
  font-size: var(--h1);
}
.text-h2 {
  font-size: var(--h2);
}
.text-h3 {
  font-size: var(--h3);
}
.text-lg {
  font-size: var(--lg-text);
}
.text-md {
  font-size: var(--md-text);
}
.text-sm {
  font-size: var(--sm-text);
}
.text-xs {
  font-size: var(--xs-text);
}

/* Ícones */

.small-icon{
  width: 24px;
  height: 24px;
}

.large-icon{
  width: 56px;
  height: 56px;
}

/* Títulos de sections */
.section__title--blue,
.section__title--black {
  font-size: var(--h2);
  font-weight: 400;
  text-align: center;
  width: 100%;
  text-shadow: var(--text-shadow);
}

.section__title--black {
  color: var(--black-font-color);
}

.section__title--blue {
  color: var(--primary-color);
}

/*--- Padrão de botões ---*/
.button {
  padding: var(--space-2) var(--space-6);
  border: none;
  border-radius: 4px;
  cursor: pointer;
  box-shadow: var(--button-shadow);
}

/* Botão de ação */
.button--action {
  background-color: var(--secondary-color);
  color: var(--white-font-color);
}

.flex-column, .flex-row{
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.flex-row{
  flex-direction: row;
}

.flex-column{
  flex-direction: column;
}
