.nav-cidadao{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: var(--space-10);
}

.nav-cidadao__links, .nav-cidadao__buttons{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.nav-cidadao__links{
    gap: var(--space-6);
}

