<section class="form-step__body flex-column">
  <span>Categorias semelhantes com o seu problema já foram selecionadas</span>
  <div class="categories-container flex-row">
    @for (categoryGroup of categoryGroups; track $index) {
      <div class="categories-container__group flex-column">
        <img
          class="medium-icon"
          [src]="categoryGroup.url"
          [alt]="categoryGroup.nome"
        />
        <h2>{{ categoryGroup.nome }}</h2>
        @for (category of categoryGroup.categorias; track $index) {
          <div
            class="categories-container__categorie flex-row"
            (click)="onCategoryClick(categoryGroup, category)"
          >
            <div
              class="categorie__checkbox flex-row"
              [class.categorie__checkbox--selected]="
                isCategorySelected(category)
              "
            >
              @if (isCategorySelected(category)) {
                <img src="icons/status/system/white/success.svg" alt="" />
              }
            </div>
            <span>{{ category.nome }}</span>
          </div>
        }
      </div>
    }
  </div>
</section>
