.comment--other, .comment--my{
  width: 100%; 
  text-align: start;
  align-items: flex-start;
  justify-content: flex-start;
  box-shadow: var(--button-shadow);
  padding: var(--space-4);
  box-sizing: border-box; 
  gap: var(--space-3);
}

.comment--other{
  background-color: var(--background-color);
  border: 1px solid var(--background-dark-color);
}

.comment--my{
  background: var(--primary-color);
  border: 1px solid var(--primary-dark-color);
}

.comment--other .comment__text{
  color: var(--black-font-color);
}

.comment--my .comment__text{
  color: var(--white-font-color);
}

.comment__header{
  justify-content: space-between;
  width: 100%;
}

.comment__body{
  justify-content: start;
}

.comment__footer{
  justify-content: start;
  align-items: start;
  width: 100%;
}

.comment-date{
  font-size: var(--xs-text);
}

.comment-title {
  font-size: var(--md-text);
  word-break: break-word; 
  align-items: center;
  margin-bottom: 0px;
}

.comment-description {
  font-size: var(--sm-text);
  word-break: break-word; 
  overflow-wrap: break-word; 
  text-align: start;
}

.comment-employee, .comment-owner{
  padding-top: var(--space-1);
  gap: var(--space-2);
}

.comment-employee__label, .comment-owner__label{
  font-size: var(--xs-text);
  text-align: end;
}

.comment--my .comment-employee{
  border-top: 2px solid var(--background-color);
}

.comment--other .comment-employee{
  border-top: 2px solid var(--secondary-color);
}

.comment--my .comment-owner{
  border-top: 2px solid var(--background-dark-color);
}

.comment--other .comment-owner{
  border-top: 2px solid var(--primary-dark-color);
}

@media (max-width: 768px) {
  .comment {
    padding: var(--space-3);
  }
}

@media (max-width: 480px) {
  .comment {
    padding: var(--space-2);
  }
}