.comment--anothers, .comment--my{
  width: 100%; 
  text-align: start;
  align-items: flex-start;
  justify-content: flex-start;
  box-shadow: var(--button-shadow);
  padding: var(--space-4);
  box-sizing: border-box; 
  gap: var(--space-6);
}

.comment--anothers{
  background-color: var(--background-color);
  border: 1px solid var(--background-dark-color);
}

.comment--my{
  background: var(--primary-color);
  border: 1px solid var(--primary-dark-color);
}

.comment--anothers .comment__text{
  color: var(--black-font-color);
}

.comment--my .comment__text{
  color: var(--white-font-color);
}

.comment__header{
  justify-content: space-between;
  margin: 0;
  width: 100%;
}

.comment__body{
  justify-content: start;
}

.comment__footer{
  justify-content: start;
  width: 100%;
}

.comment-date{
  font-size: var(--xs-text);
}

.comment-title {
  font-size: var(--md-text);
  word-break: break-word; 
  align-items: center;
}

.comment-description {
  font-size: var(--sm-text);
  word-break: break-word; 
  overflow-wrap: break-word; 
}

.comment-employee-label{
  margin-top: var(--space-2);
  border-top: 2px solid var(--secondary-color);
  padding-top: var(--space-1);
  font-size: var(--xs-text);
  text-align: end;
}

@media (max-width: 768px) {
  .comment {
    padding: var(--space-3);
  }
}

@media (max-width: 480px) {
  .comment {
    padding: var(--space-2);
  }
}