.minhas-denuncias__status-search{
    gap: var(--space-3);
    padding: var(--space-6) var(--space-8);
    box-shadow: var(--card-shadow);
}

.minhas-denuncias__status-search h2{
    font-size: var(--lg-text);
}

.minhas-denuncias__filters{
    gap: var(--space-7);
    flex-wrap: wrap;
}

.minhas-denuncias__filter{
    padding: var(--space-2) var(--space-4);
    font-size: var(--sm-text);
    background-color: var(--background-color);
    border: 2px solid var(--primary-color);
    color: var(--black-font-color);
    transition: 0.4s all ease-out;
}

.minhas-denuncias__filter:hover{
    transform: translateY(-4px);
}

.minhas-denuncias__filter--active{
    background-color: var(--primary-color);
    color: var(--white-font-color);
}