<div class="minhas-denuncias__status-search flex-column">
    <h2>Procurar denúncias</h2>
    <div class="minhas-denuncias__filters w-100 flex-row">
      @for (filter of filters; track $index) {
        <button 
          class="minhas-denuncias__filter button"
          (click)="changeActiveStatus(filter.status)"
          [ngClass]="{ 'minhas-denuncias__filter--active': isActiveStatus(filter.status)}"
        >
          @if(filter.icon){
            <img
              class="small-icon"
              [src]="'icons/'+ filter.icon.folder + '/' + (isActiveStatus(filter.status) ? 'white' : 'black') + '/' + filter.icon.name + '.svg'"
              [alt]="filter.icon.alt"
            >
          }
          {{filter.text}}
        </button>
      }
    </div>
  </div>