.error-messages {
  margin-top: var(--space-2);
  background-color: var(--background-color);
  border: 1px solid var(--background-dark-color);
  padding-top: var(--space-1);
  padding-bottom: var(--space-1);
}

.error-message {
  color: #d32f2f;
  font-size: var(--xs-text);
}