<div class="steps flex-row">
    @for (step of steps; track $index) {
       <div class="steps__step flex-column">
            <div [className]="'step__circle'+ getStepStatus(step.type)" class="flex-row">
                @if(step.type < activeStep){
                    <img class="small-icon" src="icons/actions/black/add.svg" alt="asdasd">
                }
            </div>
            <span>{{step.title}}</span>
        </div> 
        @if($index < steps.length - 1){
            <hr class="steps__separator">
        }
    }
</div>