.steps {
  width: 35vw;
  justify-content: center;
  align-items: start;
  gap: var(--space-3);
}

.steps__step {
  gap: var(--space-2);
  width: 100px;
  transition: 0.4s all ease;
}

.steps__step--clickable {
  cursor: pointer;
}

.steps__step--clickable:hover .step__circle {
  opacity: 0.6;
  background-color: var(--primary-color);
}

.steps__step span {
  font-size: var(--sm-text);
  font-weight: 500;
}

.steps__separator,
.steps__separator--completed {
  width: 100px;
  height: 2px;
  opacity: 1;
}

.steps__separator {
  border: 2px solid var(--background-dark-color);
}

.steps__separator--completed {
  border: 2px solid var(--primary-color);
}

.step__circle,
.step__circle--active,
.step__circle--completed {
  width: 32px;
  height: 32px;
  border-radius: 50%;
}

.step__circle {
  background-color: var(--background-color);
  border: 2px solid var(--background-dark-color);
}

.step__circle--active {
  background-color: var(--primary-dark-color);
  border: 2px solid var(--primary-color);
}

.step__circle--completed {
  border: 2px solid var(--primary-color);
  cursor: pointer;
}
