<div class="steps flex-row">
  @for (step of steps; track $index) {
    <div 
      class="steps__step flex-column"
      [class.steps__step--clickable]="isStepClickable(step)"
      [class.steps__step--completed]="step.completed"
      [class.steps__step--active]="isStepActive(step)"
      [class.steps__step--accessible]="!step.completed && isStepAccessible(step) && !isStepActive(step)"
      (click)="goToStep(step)">
      @if (step.completed) {
         <span class="step__success-icon">✔</span>
       }
      <img class="medium-icon" 
      [src]="'icons/' + step.icon.folder + '/' + ((isStepActive(step) || (!step.completed && isStepAccessible(step) && !isStepActive(step))) ? 'white' : 'black') + '/' + step.icon.name" 
      [alt]="step.icon.alt" >
      
      <span class="step__name">{{ step.name }}</span>
      
      <div class="step__description">
        {{ step.description }}
      </div>
    </div>
  }
</div>
