<div class="background container-fluid">
  <div class="container-dashboard d-flex flex-md-row flex-column">
    <!-- SIDEBAR -->
    <div
      class="sidebar-dashboard d-flex flex-column align-items-center col-md-2 col-12"
    >
      <div
        class="sidebar-dashboard-header d-none d-md-flex flex-column pe-3 pt-3 ps-3"
      >
        <span> Opções de Gerenciamento</span>
        <hr />
      </div>
      <div
        class="sidebar-dashboard-opcoes d-flex flex-md-column flex-row position-sticky p-3 gap-4 flex-wrap justify-content-center align-items-center text-center"
      >
        @for (link of linksSidebar; track $index) {
        <div
          [class.opcao-sidebar-selecionada]="sidebarAtual == link.opcao"
          class="opcao-sidebar focus-secundario d-flex align-items-center gap-2 p-2 flex-lg-row flex-column text-center"
          (click)="mudarOpcaoAtual(link.opcao)"
          (keydown.enter)="mudarOpcaoAtual(link.opcao)"
          (keydown.space)="mudarOpcaoAtual(link.opcao)"
          tabindex="0"
        >
          <div class="">
            <img class="opcao-sidebar-icone" src="{{ link.img }}" alt="" />
          </div>
          <div class="d-none d-md-block">
            <span class="opcao-sidebar-link">{{ link.name }}</span>
          </div>
        </div>
        }
      </div>
    </div>
    <!-- OPCOES DO MENU (VARIA CONFORME OPCAO SELECIONADA NO SIDEBAR) -->
    <div
      class="opcoes-dashboard col-md-10 col-12 d-flex justify-content-center align-items-center"
    >
      <div
        class="row gap-3 p-3 d-flex justify-content-center align-items-center w-100"
      >
        @for (opcao of opcoesMenuAtuais; track $index) { @if(opcao.type
        =='link'){
        <a
          class="opcao-dashboard focus-terciario d-flex justify-content-center align-items-center flex-column col-xl-3 col-lg-4 col-md-4 col-sm-12"
          routerLink="{{ opcao.path }}"
        >
          <img class="icone-menu-admin" src="{{ opcao.img }}" alt="" />
          <span class="text-center">{{ opcao.name }}</span>
        </a>
        } @else {
        <a
          class="opcao-dashboard focus-terciario rounded d-flex justify-content-center align-items-center flex-column col-xl-3 col-lg-4 col-md-4 col-sm-12"
          (click)="
            alternarModal(
              opcao.tipoModal || modalTypes.None
            )
          "
          (keydown.enter)="
            alternarModal(
              opcao.tipoModal || modalTypes.None
            )
          "
          tabindex="0"
          routerLink="."
        >
          <img class="icone-menu-admin" src="{{ opcao.img }}" alt="" />
          <span class="text-center">{{ opcao.name }}</span>
        </a>
        } }
      </div>
    </div>
  </div>

  <button
    class="d-none"
    [attr.data-bs-target]="'#modalTag'"
    [attr.data-bs-toggle]="'modal'"
    #botaoModal
  ></button>

  <!-- Modal - Vai virar componente depois-->
  <app-tag-modal
    [modalTypeSelected]="tipoModalAtual"
  ></app-tag-modal>
</div>
