<nav
  id="navbar-header"
  class="d-flex align-items-center justify-content-between"
>
  <!--Navbar-->
  <!-- Links da navbar -->
  <ul
    id="navbar-links"
    class="d-none d-lg-flex justify-content-evenly align-items-center"
  >
    <!--Em telas menores muda para display none -->
    @for (link of links; track $index) {
    <li>
      <a
        routerLink="{{ link.path }}"
        routerLinkActive="link-navbar-ativo"
        class="focus-secundario navbar-header-link d-flex justify-content-center align-items-center text-center"
      >
        <img src="{{ link.img }}" alt="{{ link.alt }}" />
        <span>{{ link.nome }}</span>
      </a>
    </li>
    }

    @if (authService.currentUser$ | async; as user) {
      <li>
        <a
          routerLink="suas-reclamacoes"
          routerLinkActive="link-navbar-ativo"
          class="focus-secundario navbar-header-link d-flex justify-content-center align-items-center text-center"
        >
          <img
            src="icons/actions/white/search-reclamacao_icon.svg"
            alt="Ícone do link para página de Suas Reclamações"
          />
          <span>Suas Reclamações</span>
        </a>
      </li>
      
      @if (authService.isAdmin$ | async) {
        <li>
          <a
            routerLink="pagina-admin"
            routerLinkActive="link-navbar-ativo"
            class="focus-secundario navbar-header-link d-flex justify-content-center align-items-center text-center"
          >
            <img
              src="icons/shared/white/responsavel_icon.svg"
              alt="Ícone do link para página de Admin"
            />
            <span>Admin</span>
          </a>
        </li>
      }
    }
    
   
  </ul>

  <!-- Botão para chamar o OFFCANVAS -->
  <button
    class="btn btn-outline-light d-lg-none"
    type="button"
    data-bs-toggle="offcanvas"
    data-bs-target="#offcanvasResponsive"
    aria-controls="offcanvasResponsive"
  >
    <img src="icons/ui/white/menu_navbar_icon.svg" alt="" />
  </button>

  <!-- OFFCANVAS para resoluções menores -->
  <div
    class="offcanvas offcanvas-end"
    tabindex="-1"
    id="offcanvasResponsive"
    aria-labelledby="offcanvasResponsiveLabel"
  >
    <!-- Cabeçalho do offcanvas -->
    <div class="offcanvas-header">
      <h5 class="offcanvas-title" id="offcanvasResponsiveLabel">Acesse:</h5>
      <button
        type="button"
        class="btn-close btn-close-white"
        data-bs-dismiss="offcanvas"
        aria-label="Close"
      ></button>
    </div>
    <!-- Corpo do offcanvas -->
    <div class="offcanvas-body">
      <div
        class="container d-flex justify-content-center align-items-center flex-wrap gap-3"
      >
        <div class="row gap-4">
          @for (link of links; track $index) {
          <div class="col-12 d-flex justify-content-center align-items-center">
            <!-- Links de navegação do OFFCANVAS -->
            <a
              routerLink="{{ link.path }}"
              routerLinkActive="link-navbar-ativo"
              class="focus-secundario navbar-header-link d-flex justify-content-center
              align-items-center text-center w-50"
            >
              <img src="{{ link.img }}" alt="{{ link.alt }}" />
              <span>{{ link.nome }}</span>
            </a>
          </div>

          <!-- Caso o usuário atual seja um admin, mostre o link para a página do administrador -->
          }

          @if(loginInfo$ | async; as user){
            <div class="col-12 d-flex justify-content-center align-items-center">
              <a
                routerLink="suas-reclamacoes"
                routerLinkActive="link-navbar-ativo"
                class="focus-secundario navbar-header-link d-flex justify-content-center align-items-center text-center"
              >
                <img
                  src="icons/actions/white/search-reclamacao_icon.svg"
                  alt="Ícone do link para página de Suas reclamações"
                />
                <span>Suas Reclamações</span>
              </a>
            </div>
            @if(authService.isAdmin$ | async){
              <div class="col-12 pb-4 d-flex justify-content-center align-items-center">
                <a
                  routerLink="pagina-admin"
                  routerLinkActive="link-navbar-ativo"
                  class="focus-secundario navbar-header-link d-flex justify-content-center align-items-center text-center"
                >
                  <img
                    src="icons/shared/white/responsavel_icon.svg"
                    alt="Ícone do link para página de Admin"
                  />
                  <span>Admin</span>
                </a>
              </div>
            }
          }
        </div>
        <app-login-link></app-login-link>
      </div>
    </div>
    <!-- Fechamento do corpo do offCanvas -->
  </div>
  <!-- Fim do Offcanvas -->

  <!-- Links da navbar -->
</nav>
