name: CI / CD - develop (preview)

on:
  push:
    branches:
      - develop
  workflow_dispatch:

jobs:
  pipeline:
    runs-on: ubuntu-latest

    steps:
      # --- Checkout do código ---
      - name: Checkout code
        uses: actions/checkout@v3
        with:
          fetch-depth: 0

      # --- Instalação de dependências ---
      - name: Dependências
        run: npm install --force

      # --- Instala semver globalmente ---
      - name: Semver
        run: npm install -g semver

      # --- Calcular nova versão com sufixo preview ---
      - name: Calcular nova versão Preview
        id: version
        run: |
          git fetch --tags --force --prune

          LAST_TAG=$(git tag --list 'v*' --sort=-v:refname | head -n1 || echo "v0.0.0")
          CURRENT_VERSION="${LAST_TAG#v}"

          NEW_VERSION=$(semver -i patch "$CURRENT_VERSION")

          # Número do preview (quantas tags preview já existem para essa versão base)
          COUNT=$(git tag --list "v${NEW_VERSION}-preview.*" | wc -l | xargs)
          PREVIEW_VERSION="v${NEW_VERSION}-preview.$((COUNT+1))"

          echo "NEW_VERSION=$PREVIEW_VERSION" >> $GITHUB_ENV
          echo "new_version=$PREVIEW_VERSION" >> $GITHUB_OUTPUT

      # --- Criar Release Preview ---
      - name: Criar Release Preview
        uses: softprops/action-gh-release@v1
        with:
          tag_name: ${{ steps.version.outputs.new_version }}
          name: "Preview ${{ steps.version.outputs.new_version }}"
          target_commitish: ${{ github.sha }}
          draft: false
          prerelease: true
        env:
          GITHUB_TOKEN: ${{ secrets.GH_TOKEN }}

          # ---- Login Docker -----
      - name: Login Docker Hub
        uses: docker/login-action@f4ef78c080cd8ba55a85445d5b36e214a81df20a
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password:
            ${{ secrets.DOCKER_PASSWORD }}

            # ----- Docker Image Front-DEV ----------

      - name: Extrai metadatas para a Imagem Front-Dev
        id: metaDev
        uses: docker/metadata-action@9ec57ed1fcdbf14dcef7dfbe97b2010124a938b7
        with:
          images: saneasp/front-sanea-dev
          tags: |
            type=raw,value=${{ steps.version.outputs.new_version }}
            type=raw,value=latest

      - name: Build e publicação da Imagem Front-Dev
        id: pushDev
        uses: docker/build-push-action@3b5e8027fcad23fda98b2e3ac259d8d67585f671
        with:
          context: .
          file: ./Dockerfile.dev
          push: true
          tags: ${{ steps.metaDev.outputs.tags }}
          labels: ${{ steps.metaDev.outputs.labels }}
        env:
          GITHUB_TOKEN: ${{ secrets.GH_TOKEN }}
