<section>
  <h1 class="section__title--blue">Denúncias mais recentes</h1>
  <hr class="title-separator" />
  <div class="search-container">
    <span>Selecione uma categoria</span>
    <input name="" id="">
    <hr class="search-container__separator">
    <span>Categorias selecionadas</span>
    <div class="selected-categories">
      <div class="selected-categories__categorie">
        <img src="wireframe/logo.jpg" alt="">
        <span>Esgoto a céu aberto</span>
      </div>
       <div class="selected-categories__categorie">
        <img src="wireframe/logo.jpg" alt="">
        <span>Esgoto a céu aberto</span>
      </div>
      <div class="selected-categories__categorie">
        <span>+5</span>
      </div>
    </div>
  </div>
  <div class="complaint-cards">
    @for (item of teste; track $index) {
    <div class="complaint-card">
      <div class="complaint-card__header">
        <img src="wireframe/logo.jpg" alt="Logo da organização" />
        <span>Há uma semana</span>
      </div>
      <div class="complaint-card__body">
        <img src="wireframe/denuncia.jpg" alt="Imagem da denúncia" />
        <h3>Título da denuncia</h3>
        <p>{{item.description}}</p>
      </div>
      <div class="complaint-card__footer">
        <button class="button button--action">Ver mais</button>
      </div>
    </div>
    }
  </div>
</section>
