<section class="categories">
    <h1 class="section__title--blue">Principais categorias</h1>
    <hr class="title-separator">
    <!-- TODO: separar em componente feature/categoria/components/category-cards -->
    <div class="categories__grid">
        @for (categorie of categories; track $index) {
            <div class="categories__card">
                <img src="wireframe/logo.jpg" alt="">
                <span>1</span>
                <span>{{categorie.name}}</span>
            </div>
        }
    </div>
    <button class="button button--action">Procurar denuncias</button>
</section>